In [259]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [260]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca"])
dismissal_dates = [[] for i in range(len(jobs_list))]
for (i, job) in enumerate(jobs_list):

    begin_times = ["" for j in range(jobs_amount[i])]
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        begin_times[j] = employment_date

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, pesel,
                                                         city, address, phone, email, employment_date,
                                                         None, job, wage]
    dismissal_dates_j = [None for j in range(jobs_amount[i])]
    c = 0
    for j in range(len(begin_times)):
        if len(begin_times) >= 2:
            min_date = min(begin_times[:j] + begin_times[j+1:])
        else:
            min_date = begin_times[j]
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(max(min_date, begin_times[j])), end_date, 1)[0]
            okay = False
            for k in range(len(dismissal_dates_j)):
                if (dismissal_dates_j[k] is not None) and (dismissal_date >=  begin_times[k]) and (dismissal_date <= dismissal_dates_j[k]):
                    okay = True
                    break
                elif dismissal_date >=  begin_times[k]:
                    okay = True
                    break
            if okay:
                dismissal_dates_j[j] = dismissal_date
                c += 1
    dismissal_dates[i] = dismissal_dates_j

diss = []
for i in range(len(dismissal_dates)):
    diss += dismissal_dates[i]
employees_df["data_zwolnienia"] = diss

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [261]:
employees_df

,id,imię,nazwisko,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca
0,1,Anna,Moszyk,82122536825,Wrocław,ul. 400-lecia Bitwy pod Byczyną 43,48907681210,anna.moszyk@kuba.pl,2014-01-01,None,menadżer,70.5
1,2,Mateusz,Hryhorenko,90111107374,Wrocław,ul. Malownicza 45/16,48293869570,mateusz.hryhorenko@kuba.pl,2014-01-01,None,sprzedawca,49.9
2,3,Joanna,Galor,86022705688,Wrocław,ul. Lipowa 7/11,48328082490,joanna.galor@kuba.pl,2014-01-01,2016-07-01,sprzedawca,53.5
5,4,Adrian,Skindzier,61101248717,Bydgoszcz,ul. Myśliwska 84/44,48776067009,adrian.skindzier@kuba.pl,2014-01-01,None,mechanik,49.8
15,5,Waldemar,Kończewski,68111700132,Wrocław,ul. Kazimierza 7,48035608602,waldemar.konczewski@kuba.pl,2014-01-01,None,informatyk,45.8
3,6,Krzysztof,Krzyżanowski,95032281037,Wrocław,ul. Jana Vermeera 43/29,48988505686,krzysztof.krzyzanowski@kuba.pl,2015-02-11,None,sprzedawca,58.1
4,7,Stanisław,Muchowski,65010130976,Wrocław,ul. Łąkowa 83,48072719932,stanislaw.muchowski@kuba.pl,2015-02-25,None,sprzedawca,45.8
6,8,Jan,Matlak,63011844274,Wrocław,ul. Lisia 45/35,48129554842,jan.matlak@kuba.pl,2015-06-20,None,mechanik,57.6
7,9,Kamil,Długołęcki,84052133378,Wrocław,ul. Brzozowa 65/23,48854835426,kamil.dlugolecki@kuba.pl,2015-06-27,2017-05-04,mechanik,57.7
8,10,Klaudyna,Szyjka,68020335403,Wrocław,ul. Świerkowa 3/9,48533895451,klaudyna.szyjka@kuba.pl,2015-07-21,None,mechanik,47.3
9,11,Jadwiga,Kwaśniewska,62112337168,Wrocław,ul. Mikołaja Reja 4,48777403450,jadwiga.kwasniewska@kuba.pl,2015-09-29,None,pomocnik mechanika,39.8
10,12,Paweł,Rysmanowski,70050461852,Wrocław,ul. Magnezowa 77/19,48590373587,pawel.rysmanowski@kuba.pl,2016-02-07,None,pomocnik mechanika,38.5
11,13,Bogdan,Szląskiewicz,64051631237,Wrocław,ul. Mazowiecka 6,48087771686,bogdan.szlaskiewicz@kuba.pl,2016-05-13,None,diagnosta samochodowy,54.9
12,14,Maciej,Wsuł,89011974331,Wrocław,ul. Południowa 52/9,48753474262,maciej.wsul@kuba.pl,2016-06-21,None,diagnosta samochodowy,57.0
13,15,Paweł,Jankowski,69081136211,Giżycko,ul. Franciszka Stefczyka 47,48181007710,pawel.jankowski@kuba.pl,2016-07-05,None,sprzątający,37.0
14,16,Monika,Szulta,67011823725,Wrocław,ul. Sportowa 12/25,48387363227,monika.szulta@kuba.pl,2017-02-05,None,sprzątający,35.7

In [262]:
employees_df.to_csv("outputs/pracownicy.csv", index=False)

# Transakcje

In [263]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [264]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [265]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [266]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [267]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [268]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [269]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [270]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [271]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man(year_lims)
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_lims[0], year_lims[1]))
        sex = 'M'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man(year_lims)
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_lims[0], year_lims[1]))
        sex = 'K'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
                             
clients_df.astype({"PESEL": str})

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Bożena,Kułakowska,K,09280148295,Wrocław,ul. Przyjazna 43/22,False,48795943548,kulakow_bozena09@gmail.com
1,2,Henryk,Kolaczek,M,72051166736,Wrocław,ul. Spokojna 62/37,True,48465633287,kolaczehenryk@gmail.com
2,3,Grażyna,Fołda,K,78021789217,Wrocław,ul. Zacisze 12/32,True,48011308746,foldgra1978@interia.pl
3,4,Adrian,Frąckowiak,M,05260257737,Wrocław,ul. Miętowa 84,False,48286194594,k6s76g03p@onet.pl
4,5,Paweł,Gardoń,M,94110575318,Wrocław,ul. Bartycka 34/13,False,48713982316,paw-gardo@wp.pl
...,...,...,...,...,...,...,...,...,...,...
1481,1482,Dorota,Piątkowska,K,73061395156,Wrocław,ul. Kajki 27/11,False,48730139366,p865x98ayx7m24y4@onet.pl
1482,1483,Renata,Rusek,K,74092118198,Wasilków,ul. Macieja Rataja 46/17,False,48611641830,renru3095@wp.pl
1483,1484,Maciej,Dymek,M,94042532915,Pobiedziska,ul. Marii Konopnickiej 34/46,False,48126458521,m-dymek@gmail.com
1484,1485,Jaśmina,Malinowska,K,82101743972,Kraków,ul. Przemysłowa 29/14,False,48820175662,jas.malinows1982@gazeta.pl
1485,1486,Franciszek,Komor,M,90022201150,Szczecin,ul. Leśników 59/43,False,48207825229,f-komo90@gmail.com

In [272]:
clients_df

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Bożena,Kułakowska,K,09280148295,Wrocław,ul. Przyjazna 43/22,False,48795943548,kulakow_bozena09@gmail.com
1,2,Henryk,Kolaczek,M,72051166736,Wrocław,ul. Spokojna 62/37,True,48465633287,kolaczehenryk@gmail.com
2,3,Grażyna,Fołda,K,78021789217,Wrocław,ul. Zacisze 12/32,True,48011308746,foldgra1978@interia.pl
3,4,Adrian,Frąckowiak,M,05260257737,Wrocław,ul. Miętowa 84,False,48286194594,k6s76g03p@onet.pl
4,5,Paweł,Gardoń,M,94110575318,Wrocław,ul. Bartycka 34/13,False,48713982316,paw-gardo@wp.pl
...,...,...,...,...,...,...,...,...,...,...
1481,1482,Dorota,Piątkowska,K,73061395156,Wrocław,ul. Kajki 27/11,False,48730139366,p865x98ayx7m24y4@onet.pl
1482,1483,Renata,Rusek,K,74092118198,Wasilków,ul. Macieja Rataja 46/17,False,48611641830,renru3095@wp.pl
1483,1484,Maciej,Dymek,M,94042532915,Pobiedziska,ul. Marii Konopnickiej 34/46,False,48126458521,m-dymek@gmail.com
1484,1485,Jaśmina,Malinowska,K,82101743972,Kraków,ul. Przemysłowa 29/14,False,48820175662,jas.malinows1982@gazeta.pl
1485,1486,Franciszek,Komor,M,90022201150,Szczecin,ul. Leśników 59/43,False,48207825229,f-komo90@gmail.com

In [273]:
clients_df.to_csv("outputs/klienci.csv", index=False)

In [274]:
np.sum(clients_df['karta_lojalnościowa'])

78

In [275]:
np.sum(pd.isna(clients_df["PESEL"]))

53

# auta

In [276]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [277]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, hp, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'moc', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [278]:
df_samochody = create_car_table(max(car_ids))

In [279]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,moc,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,MINI,Cooper Coupe,4,2006,SUV,False,szary,Benzyna,2.0,122,Manualna,5,5,False
1,2,MINI,Cooper S,4,2010,SUV,False,biały,Benzyna,2.8,184,Manualna,5,5,False
2,3,Hero,Glamour 125,2,2007,,False,niebieski,Benzyna,0.5,66,Manualna,0,1,False
3,4,BMW,116,4,2007,Coupe,False,srebrny,Benzyna,2.2,136,Manualna,5,5,False
4,5,Volkswagen,Touran,4,2003,SUV,False,niebieski,Diesel,1.6,105,Manualna,5,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,960,smart,forTwo,4,1998,Sedan,False,szary,Benzyna,1.0,71,Automatyczna,5,5,False
960,961,Toyota,Aygo,4,2001,Hatchback,False,czerwony,Benzyna,1.0,68,Automatyczna,5,5,False
961,962,Honda,Activa 5G,2,2002,,False,czarny,Benzyna,0.4,62,Automatyczna,0,1,False
962,963,Volkswagen,Tiguan,4,2012,SUV,False,szary,Benzyna,4.9,320,Automatyczna,5,5,True
963,964,Volkswagen,Golf Plus,4,2000,Sedan,False,czarny,Benzyna,1.6,105,Automatyczna,5,5,False

In [280]:
df_samochody.to_csv("outputs/samochody.csv", index=False)

In [281]:
pd.unique(df_samochody["skrzynia_biegów"])

array(['Manualna', 'Automatyczna', 'Półautomatyczna'], dtype=object)

# Usługi

In [282]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksięgowania'] = transaction_dates_service

# Zakup samochodów

In [283]:
def car_purchase_price(hp, yr_bought, yr_prod, post_acc):
    return np.round(hp * 1000 / np.sqrt(int(yr_bought) - int(yr_prod) + 1) * (0.75 if post_acc else 1) * rng.uniform(0.8, 1.2), -2)

In [284]:
buy_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_buy))
buy_ids = np.arange(len(transaction_dates_buy)) + 1

df_buy = pd.DataFrame()
df_buy['id'] = buy_ids
df_buy['id_samochodu'] = car_ids_buy
df_buy['id_klienta'] = client_ids_buy
df_buy['id_pracownika'] = buy_employee
df_buy['data_zaksięgowania'] = transaction_dates_buy

In [285]:

service_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_services[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
service_date_fix['data_zaksięgowania'] = service_date_fix['data_zaksięgowania'].str[:4]

buy_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_buy[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
buy_date_fix['data_zaksięgowania'] = buy_date_fix['data_zaksięgowania'].str[:4]

for i in range(len(buy_date_fix)):
    if str(buy_date_fix['rok_produkcji'].loc()[i]) >= str(buy_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = buy_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

for i in range(len(service_date_fix)):
    if str(service_date_fix['rok_produkcji'].loc()[i]) >= str(service_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = service_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

C:\Users\olkar\AppData\Local\Temp\ipykernel_25004\3526569416.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2007' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

In [286]:
purchase_prices = []
for j, i in enumerate(car_ids_buy):
    row = df_samochody.loc()[i-1]
    year_bought = transaction_dates_buy[j][:4]
    purchase_prices.append(car_purchase_price(row['moc'], year_bought, row['rok_produkcji'], row['czy_powypadkowy']))

df_buy['cena'] = purchase_prices

In [287]:
df_buy

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania      cena
0      1             1           1              2         2014-01-02   34900.0
1      2             2           2              6         2014-01-03   95000.0
2      3             3           3              7         2014-01-04   19800.0
3      4             4           4              6         2014-01-05   39100.0
4      5             5           5              3         2014-01-07   32000.0
..   ...           ...         ...            ...                ...       ...
939  940           961         982              7         2020-12-15   14900.0
940  941           962        1480              3         2020-12-16   13100.0
941  942           963        1481              6         2020-12-18  106900.0
942  943           964        1484              6         2020-12-22   19500.0
943  944           847        1357              2         2020-12-27   16100.0

[944 rows x 6 columns]

In [288]:
df_buy.to_csv("outputs/zakup_samochodu.csv", index=False)

# Sprzedaż samochodów

In [289]:
sell_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_sell))
sell_ids = np.arange(len(transaction_dates_sell)) + 1

df_sell = pd.DataFrame()
df_sell['id'] = sell_ids
df_sell['id_samochodu'] = car_ids_sell
df_sell['id_klienta'] = client_ids_sell
df_sell['id_pracownika'] = sell_employee
df_sell['data_zaksięgowania'] = transaction_dates_sell

In [290]:
df_sell

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania
0      1            10          21              7         2014-01-23
1      2            18          22              7         2014-01-25
2      3             6          23              7         2014-01-26
3      4            19          24              3         2014-01-26
4      5            14          25              2         2014-01-26
..   ...           ...         ...            ...                ...
935  936           961        1482              3         2020-12-20
936  937           962        1483              3         2020-12-22
937  938           944        1485              3         2020-12-23
938  939           964        1486              6         2020-12-26
939  940           847        1039              3         2020-12-31

[940 rows x 5 columns]

In [291]:
sell_prices = []
for i in car_ids_sell:
    b_price = df_buy[df_buy['id_samochodu'] == i]['cena'].values[0]
    print(b_price)
    sell_prices.append(np.round(b_price * rng.uniform(1.2, 1.5), -2))

df_sell['cena'] = sell_prices

54400.0
30400.0
65000.0
26900.0
24600.0
60000.0
27700.0
40300.0
31700.0
39400.0
54700.0
65800.0
19800.0
48800.0
34900.0
95000.0
32800.0
39100.0
32000.0
65500.0
93800.0
35500.0
34300.0
35600.0
56300.0
25500.0
33400.0
68900.0
48600.0
80100.0
25000.0
20000.0
34600.0
8800.0
51800.0
36700.0
18100.0
60100.0
26100.0
27900.0
57900.0
43500.0
73600.0
34900.0
56300.0
50900.0
23900.0
68500.0
57300.0
51000.0
28500.0
81300.0
20200.0
61500.0
30300.0
31100.0
23600.0
24400.0
38500.0
28400.0
37600.0
42500.0
62800.0
24900.0
64500.0
43800.0
15000.0
30700.0
55200.0
27700.0
31400.0
25500.0
54600.0
22300.0
31100.0
17700.0
26500.0
20900.0
81000.0
61000.0
21200.0
83300.0
14200.0
74100.0
25100.0
11300.0
65500.0
5400.0
41900.0
19400.0
43500.0
24900.0
49500.0
33800.0
34500.0
59700.0
49700.0
27300.0
40500.0
22100.0
106800.0
8300.0
23000.0
70800.0
41400.0
25900.0
26700.0
57300.0
24900.0
74800.0
33600.0
51100.0
17300.0
16500.0
73300.0
22100.0
68700.0
33900.0
30900.0
33400.0
49100.0
40700.0
63200.0
73300.0
36100.0
45100.0
41000.0
23800.0
62300.0
32100.0
21300.0
40600.0
30600.0
52800.0
29400.0
16500.0
44800.0
93900.0
31500.0
24000.0
8900.0
51400.0
25400.0
5800.0
38400.0
18300.0
79600.0
41100.0
51900.0
40700.0
31700.0
15400.0
44900.0
33500.0
37600.0
85100.0
38400.0
31800.0
25500.0
23600.0
35200.0
25300.0
36800.0
169900.0
34400.0
90200.0
25900.0
55300.0
29000.0
42700.0
49300.0
33500.0
55600.0
53000.0
30800.0
44100.0
39200.0
51600.0
22800.0
61700.0
34400.0
27500.0
13100.0
49400.0
17100.0
51900.0
45700.0
25600.0
25100.0
33400.0
26200.0
33800.0
24100.0
35200.0
29000.0
56100.0
70400.0
25300.0
77300.0
23000.0
26900.0
38900.0
86300.0
171400.0
27900.0
21100.0
38400.0
17100.0
67600.0
26500.0
30800.0
50200.0
44100.0
19300.0
27100.0
18700.0
27100.0
122900.0
107700.0
40600.0
41300.0
80900.0
34800.0
34500.0
31200.0
34600.0
89100.0
162100.0
35500.0
14200.0
66600.0
6800.0
71200.0
121800.0
42700.0
50100.0
62000.0
38700.0
21500.0
16700.0
34400.0
34200.0
23900.0
28800.0
16000.0
32300.0
23200.0
55800.0
31400.0
61300.0
23200.0
45700.0
19200.0
17100.0
12700.0
49900.0
41600.0
21400.0
38500.0
29400.0
23600.0
49600.0
27700.0
20500.0
30800.0
30800.0
59500.0
34200.0
36200.0
51100.0
41900.0
23500.0
19400.0
95900.0
25100.0
37600.0
38900.0
126000.0
31300.0
26100.0
21500.0
46600.0
52200.0
35200.0
10800.0
26800.0
63500.0
16700.0
64100.0
28900.0
62100.0
19500.0
79800.0
25100.0
29200.0
17900.0
16600.0
58300.0
24900.0
35800.0
88000.0
22000.0
23300.0
24100.0
52000.0
68900.0
48800.0
56300.0
29700.0
35100.0
38800.0
14300.0
19900.0
51200.0
48100.0
30700.0
29800.0
92500.0
34200.0
28500.0
30000.0
26100.0
38400.0
37700.0
38000.0
22700.0
56000.0
44600.0
37700.0
17900.0
20200.0
14200.0
49400.0
51800.0
56700.0
49400.0
33800.0
17400.0
21700.0
57100.0
22700.0
42600.0
43000.0
33100.0
30900.0
22300.0
27800.0
74300.0
71700.0
27200.0
46000.0
19200.0
29600.0
61400.0
49700.0
3300.0
9000.0
40000.0
28400.0
24000.0
92200.0
61200.0
45700.0
35800.0
30600.0
18400.0
68400.0
23800.0
77300.0
47300.0
31500.0
23400.0
37200.0
140100.0
24300.0
24900.0
24500.0
36200.0
75700.0
17500.0
19000.0
36000.0
16700.0
23700.0
58000.0
25200.0
60500.0
30700.0
75500.0
51600.0
32800.0
28200.0
159700.0
65000.0
62500.0
53500.0
37600.0
24700.0
23300.0
30900.0
38200.0
6900.0
21500.0
30700.0
62800.0
13900.0
94900.0
40300.0
23200.0
73400.0
37600.0
32900.0
51500.0
54800.0
58300.0
15200.0
22100.0
54200.0
15200.0
34600.0
29300.0
20900.0
67400.0
33100.0
25400.0
14200.0
19900.0
35000.0
33500.0
16400.0
32500.0
44100.0
26300.0
54900.0
41100.0
47000.0
54500.0
15000.0
43000.0
14900.0
20900.0
16100.0
18300.0
30000.0
50900.0
65500.0
46000.0
28300.0
18400.0
67600.0
63300.0
19800.0
41400.0
54800.0
25700.0
17300.0
19400.0
19700.0
33500.0
63200.0
62000.0
71500.0
57400.0
55800.0
172300.0
35200.0
34500.0
28000.0
37900.0
24900.0
17300.0
70100.0
16100.0
36600.0
31400.0
61200.0
46800.0
33000.0
18100.0
23600.0
21500.0
47000.0
30900.0
10600.0
72800.0
32100.0
22700.0
69200.0
29700.0
62700.0
45200.0
51900.0
69500.0
42900.0
34200.0
100500.0
52000.0
49000.0
61500.0
7300.0
34000.0
26500.0
23000.0
28400.0
46800.0
23200.0
21000.0
13500.0
4100.0
42000.0
36200.0
42800.0
28100.0
46800.0
19000.0
48500.0
56600.0
126000.0
40400.0
50500.0
78800.0
17500.0
30700.0
6800.0
18400.0
25500.0
20900.0
40800.0
27700.0
11300.0
32200.0
57200.0
43900.0
45200.0
34600.0
44700.0
38200.0
23500.0
32600.0
20100.0
21500.0
8000.0
73900.0
23100.0
17900.0
29800.0
33900.0
16400.0
19700.0
43500.0
32400.0
65600.0
36800.0
58700.0
26800.0
22300.0
26700.0
39200.0
54600.0
34900.0
100500.0
52900.0
49000.0
33000.0
5100.0
83300.0
34600.0
110900.0
22500.0
40700.0
25900.0
44200.0
79300.0
7200.0
34700.0
16300.0
20600.0
37100.0
13500.0
18300.0
13800.0
128300.0
28800.0
30200.0
30300.0
12600.0
18600.0
19900.0
43600.0
19800.0
39500.0
32200.0
74400.0
13500.0
31100.0
71500.0
20200.0
5700.0
23900.0
50900.0
23700.0
31300.0
37100.0
56300.0
19700.0
18200.0
21600.0
27300.0
21900.0
13500.0
15800.0
23800.0
30500.0
21500.0
103900.0
20900.0
67900.0
17800.0
15200.0
22800.0
103200.0
37200.0
26200.0
40600.0
17800.0
37800.0
140600.0
27600.0
26100.0
18100.0
18600.0
38200.0
52200.0
17300.0
20300.0
23800.0
54300.0
17700.0
29300.0
43300.0
45200.0
15900.0
26700.0
60900.0
23300.0
74300.0
16400.0
26200.0
27700.0
62200.0
39200.0
26800.0
44700.0
64500.0
28300.0
27800.0
41000.0
42400.0
65500.0
36000.0
19900.0
61200.0
39700.0
20000.0
88000.0
38200.0
26900.0
44000.0
21000.0
32300.0
34300.0
34400.0
29000.0
91800.0
18900.0
18500.0
24600.0
31900.0
18100.0
25600.0
29200.0
22600.0
71700.0
42000.0
52000.0
63000.0
76300.0
23500.0
13000.0
21700.0
18700.0
35600.0
42700.0
70400.0
23600.0
53100.0
26900.0
54500.0
23300.0
29300.0
31600.0
86200.0
14300.0
42700.0
59000.0
56200.0
22300.0
53600.0
31500.0
22000.0
41400.0
24700.0
33500.0
51400.0
42200.0
39200.0
138400.0
28200.0
47200.0
27300.0
37100.0
51800.0
22800.0
21500.0
64700.0
25500.0
54400.0
35900.0
61900.0
31800.0
37100.0
41700.0
42600.0
26500.0
11200.0
14000.0
39600.0
20600.0
30700.0
26600.0
20000.0
35600.0
22700.0
50400.0
24300.0
35600.0
51600.0
11400.0
13900.0
16600.0
43000.0
19000.0
28700.0
50300.0
96700.0
26200.0
31100.0
28600.0
35800.0
38100.0
18600.0
12500.0
19800.0
16000.0
51700.0
57500.0
11400.0
11100.0
22000.0
16200.0
27300.0
6000.0
42700.0
88100.0
23100.0
34800.0
44300.0
24900.0
22900.0
27600.0
24200.0
37200.0
77000.0
29600.0
41700.0
22000.0
6400.0
19800.0
43700.0
38500.0
42800.0
46800.0
29600.0
21900.0
50900.0
45500.0
71200.0
51600.0
15000.0
33100.0
36400.0
37100.0
85100.0
23000.0
39200.0
15500.0
16700.0
96900.0
14000.0
18700.0
62600.0
15700.0
21000.0
13800.0
36900.0
3300.0
22100.0
19200.0
48900.0
24600.0
35400.0
59700.0
18900.0
38200.0
27900.0
25700.0
20300.0
18300.0
181300.0
42100.0
23200.0
16600.0
24600.0
20100.0
39400.0
59500.0
71500.0
289300.0
39900.0
55100.0
22600.0
18100.0
20600.0
5600.0
17400.0
38000.0
49000.0
31700.0
18400.0
23900.0
28500.0
31400.0
19400.0
22400.0
20200.0
24700.0
37900.0
26700.0
19400.0
13000.0
54900.0
4500.0
25000.0
42200.0
27700.0
33200.0
36300.0
62400.0
24300.0
58000.0
37800.0
17200.0
22600.0
73200.0
37200.0
42200.0
28100.0
33800.0
48800.0
31900.0
74600.0
12900.0
58700.0
37400.0
25700.0
18900.0
54500.0
25800.0
22200.0
48000.0
15300.0
38200.0
43100.0
38400.0
67800.0
24900.0
50900.0
40100.0
48000.0
26600.0
22700.0
58800.0
31100.0
37000.0
60700.0
10700.0
51600.0
65900.0
24900.0
28000.0
8300.0
39700.0
16400.0
27100.0
32000.0
12900.0
59000.0
29300.0
50600.0
32300.0
22700.0
13800.0
62000.0
34800.0
57700.0
30900.0
119200.0
54100.0
35600.0
25900.0
32900.0
36000.0
17300.0
15200.0
24900.0
14900.0
13100.0
52800.0
19500.0
18300.0

In [292]:
df_sell

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania     cena
0      1            10          21              7         2014-01-23  67900.0
1      2            18          22              7         2014-01-25  42900.0
2      3             6          23              7         2014-01-26  87400.0
3      4            19          24              3         2014-01-26  32500.0
4      5            14          25              2         2014-01-26  32900.0
..   ...           ...         ...            ...                ...      ...
935  936           961        1482              3         2020-12-20  20800.0
936  937           962        1483              3         2020-12-22  15800.0
937  938           944        1485              3         2020-12-23  68000.0
938  939           964        1486              6         2020-12-26  25000.0
939  940           847        1039              3         2020-12-31  24200.0

[940 rows x 6 columns]

In [293]:
np.sum(df_sell["cena"] == float('inf')) # wychodzą inf wiec trzeba poprawić

0

In [294]:
df_sell.to_csv("outputs/sprzedaż_samochodu.csv", index=False)

# Użyte części

In [295]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(25, array([60, 35, 21], dtype=int64)), (43, array([41, 15], dtype=int64)), (60, array([0], dtype=int64)), (64, array([52], dtype=int64)), (78, array([54], dtype=int64)), (92, array([11], dtype=int64)), (94, array([63], dtype=int64)), (149, array([10], dtype=int64)), (157, array([8], dtype=int64)), (158, array([55], dtype=int64)), (161, array([45, 14], dtype=int64)), (170, array([45], dtype=int64)), (185, array([18], dtype=int64)), (188, array([46], dtype=int64)), (212, array([36], dtype=int64)), (217, array([59, 49], dtype=int64)), (220, array([12], dtype=int64)), (223, array([35], dtype=int64)), (250, array([63, 11,  0], dtype=int64)), (251, array([60], dtype=int64)), (290, array([54], dtype=int64)), (293, array([18], dtype=int64)), (295, array([44], dtype=int64)), (296, array([51,  3], dtype=int64)), (298, array([40], dtype=int64)), (300, array([49, 22], dtype=int64)), (303, array([49], dtype=int64)), (321, array([33], dtype=int64)), (327, array([38], dtype=int64)), (332, array([47], dtype=int64)), (333, array([40, 28], dtype=int64)), (353, array([42], dtype=int64)), (366, array([37], dtype=int64)), (368, array([59, 21], dtype=int64)), (381, array([53], dtype=int64)), (390, array([0], dtype=int64)), (391, array([32], dtype=int64)), (313, array([48], dtype=int64)), (224, array([38], dtype=int64)), (5, array([11], dtype=int64)), (398, array([31, 32], dtype=int64)), (413, array([6], dtype=int64)), (416, array([44, 51,  6], dtype=int64)), (457, array([17, 28,  4], dtype=int64)), (462, array([32, 31], dtype=int64)), (464, array([42, 10], dtype=int64)), (468, array([ 6, 21, 24], dtype=int64)), (480, array([48, 21], dtype=int64)), (482, array([1, 5], dtype=int64)), (486, array([16], dtype=int64)), (489, array([47], dtype=int64)), (492, array([61], dtype=int64)), (249, array([32, 28], dtype=int64)), (501, array([2, 5], dtype=int64)), (504, array([29, 19], dtype=int64)), (506, array([26], dtype=int64)), (516, array([61, 18], dtype=int64)), (484, array([47], dtype=int64)), (526, array([26], dtype=int64)), (527, array([30, 63], dtype=int64)), (538, array([13, 26, 54], dtype=int64)), (543, array([42], dtype=int64)), (546, array([2], dtype=int64)), (556, array([22], dtype=int64)), (561, array([54, 35, 54], dtype=int64)), (566, array([4], dtype=int64)), (567, array([48], dtype=int64)), (555, array([63, 28], dtype=int64)), (593, array([20], dtype=int64)), (595, array([50,  8], dtype=int64)), (602, array([55], dtype=int64)), (618, array([21], dtype=int64)), (626, array([23, 34], dtype=int64)), (635, array([47,  7], dtype=int64)), (312, array([45], dtype=int64)), (662, array([38, 36], dtype=int64)), (665, array([46, 41], dtype=int64)), (669, array([62], dtype=int64)), (680, array([37], dtype=int64)), (691, array([ 6, 47,  0], dtype=int64)), (693, array([58], dtype=int64)), (277, array([45,  3], dtype=int64)), (707, array([18,  6, 23], dtype=int64)), (708, array([22], dtype=int64)), (712, array([31], dtype=int64)), (721, array([30, 41], dtype=int64)), (722, array([22, 39, 32], dtype=int64)), (726, array([17], dtype=int64)), (280, array([0], dtype=int64)), (291, array([53], dtype=int64)), (741, array([63], dtype=int64)), (742, array([46, 10, 54], dtype=int64)), (744, array([13, 51, 15], dtype=int64)), (755, array([49, 63], dtype=int64)), (518, array([33, 26], dtype=int64)), (764, array([3], dtype=int64)), (519, array([36], dtype=int64)), (39, array([26], dtype=int64)), (825, array([62], dtype=int64)), (832, array([14], dtype=int64)), (413, array([52, 34], dtype=int64)), (855, array([56, 42], dtype=int64)), (875, array([50], dtype=int64)), (910, array([10, 17], dtype=int64)), (918, array([20], dtype=int64)), (919, array([63], dtype=int64)), (922, array([30, 58, 26], dtype=int64)), (774, array([4], dtype=int64)), (935, array([10, 15, 32], dtype=int64)), (939, array([19], dtype=int64)), (941, array([36], dtype=int64)), (942, array([2], dtype=int64)), (943, array([25, 36], dtype=int64)), (950, array([36], dtype=int64)), (957, array([34], dtype=int64)), (960, array([36, 39], dtype=int64))]

In [296]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id-1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['nazwa', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['nazwa', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [297]:
parts

                      nazwa                      atrybut  cena id_usługi ilość
0    Dźwignia zmiany biegów                    Opel Adam    75         1     1
1         Przewód hamulcowy                                 50         1     1
2                 Reflektor                    Opel Adam    58         1     1
3               Wał korbowy       Land Rover Range Rover  2303         2     1
4                     Radio       Land Rover Range Rover   252         2     1
..                      ...                          ...   ...       ...   ...
171        Klocek hamulcowy              Volkswagen Golf    17       113     4
172        Klocek hamulcowy                 smart forTwo    11       114     4
173           Fotel przedni  Hero Splendor Plus materiał    53       115     1
174        Klocek hamulcowy                 smart forTwo    11       116     4
175                  Silnik             smart forTwo 1.0  1556       116     1

[176 rows x 5 columns]

# Wyposażenie

In [298]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['nazwa']
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['cena_części'] = equipment_price.astype(float)

In [299]:
df_equipment

      id                   nazwa                      atrybut  cena_części
0      1  Dźwignia zmiany biegów                    Opel Adam         75.0
1      2       Przewód hamulcowy                                      50.0
2      3               Reflektor                    Opel Adam         58.0
3      4             Wał korbowy       Land Rover Range Rover       2303.0
4      5                   Radio       Land Rover Range Rover        252.0
..   ...                     ...                          ...          ...
170  133           Światła tylne              Volkswagen Golf         60.0
171  134        Klocek hamulcowy              Volkswagen Golf         17.0
172  135        Klocek hamulcowy                 smart forTwo         11.0
173  136           Fotel przedni  Hero Splendor Plus materiał         53.0
175  137                  Silnik             smart forTwo 1.0       1556.0

[137 rows x 4 columns]

In [300]:
df_equipment.to_csv("outputs/wyposażenie.csv", index=False)

# Usługi - uzupełnienie

In [301]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [302]:
df_services

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania  cena
0      1            25          49              9         2014-02-27   250
1      2            43          84              4         2014-04-15  3530
2      3            60         114              4         2014-05-28   520
3      4            64          52              9         2014-06-07   440
4      5            78         149              9         2014-07-19   830
..   ...           ...         ...            ...                ...   ...
111  112           942         912              9         2020-11-05   530
112  113           943          96              8         2020-11-05   180
113  114           950        1469              9         2020-11-17    60
114  115           957        1476             10         2020-12-02    70
115  116           960         440              9         2020-12-13  2210

[116 rows x 6 columns]

In [303]:
df_services.to_csv("outputs/usługi.csv", index=False)

# Użyte części - uzupełnienie

In [304]:
used_parts_df = parts.merge(df_equipment, on=['nazwa', 'atrybut'])
used_parts_df.rename(columns={'id': 'id_części'}, inplace=True)
used_parts_df['ilość'] = pd.to_numeric(used_parts_df['ilość'])
ids = np.arange(len(used_parts_df))+1
used_parts_df['id'] = ids
used_parts_df = used_parts_df[['id', 'id_usługi', 'id_części', 'ilość']]

In [305]:
used_parts_df

      id id_usługi  id_części  ilość
0      1         1          1      1
1      2         1          2      1
2      3         1          3      1
3      4         2          4      1
4      5         2          5      1
..   ...       ...        ...    ...
171  172       113        134      4
172  173       114        135      4
173  174       115        136      1
174  175       116        135      4
175  176       116        137      1

[176 rows x 4 columns]

In [306]:
used_parts_df.to_csv("outputs/użyte_części.csv", index=False)

# Zakup części

In [307]:
def get_service_date(part_id):
    
    index_used_part = used_parts_df[used_parts_df['id_części'] == part_id].index[0]
    service_date = df_services[df_services['id'] == index_used_part]['data_zaksięgowania']
    return service_date
    

buy_parts_quantity = used_parts_df.groupby(['id_części'])['ilość'].sum().reset_index()
parts_purchase_pd = pd.DataFrame(columns=['id', 'id_części', 'koszt', 'data_zakupu', 'ilość', 'data_zaksięgowania'])

for i in range(len(buy_parts_quantity)):
    part_id = buy_parts_quantity['id_części'][i]
    quantity = buy_parts_quantity['ilość'][i]
    price = df_equipment['cena_części'][df_equipment['id'] == part_id].to_numpy()
    if price > 1000:
        quantity += rng.random() < 0.5
    elif price > 500:
        quantity += rng.choice([0, 1, 2], p=[0.2, 0.5, 0.3])
    else:
        quantity += rng.binomial(25, 0.15)
    total_cost = np.floor(quantity * price * rng.uniform(0.75, 0.95))
    service_date = get_service_date(part_id)

    ##### DO DODANIA
    # generowanie daty zakupu części na podstawie purchase_date
    # generowanie daty zaksięgowania transakcji na podstawie purchase_date
    #####
    
    # row = [i+1, part_id, total_cost, purchase_date, quantity, posting_date]
    # parts_purchase_pd.loc[i] = row

In [308]:
# parts_purchase_pd