In [490]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [491]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca"])
dismissal_dates = [[] for i in range(len(jobs_list))]
for (i, job) in enumerate(jobs_list):

    begin_times = ["" for j in range(jobs_amount[i])]
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        begin_times[j] = employment_date

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, pesel,
                                                         city, address, phone, email, employment_date,
                                                         None, job, wage]
    dismissal_dates_j = [None for j in range(jobs_amount[i])]
    c = 0
    for j in range(len(begin_times)):
        if len(begin_times) >= 2:
            min_date = min(begin_times[:j] + begin_times[j+1:])
        else:
            min_date = begin_times[j]
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(max(min_date, begin_times[j])), end_date, 1)[0]
            okay = False
            for k in range(len(dismissal_dates_j)):
                if (dismissal_dates_j[k] is not None) and (dismissal_date >=  begin_times[k]) and (dismissal_date <= dismissal_dates_j[k]):
                    okay = True
                    break
                elif dismissal_date >=  begin_times[k]:
                    okay = True
                    break
            if okay:
                dismissal_dates_j[j] = dismissal_date
                c += 1
    dismissal_dates[i] = dismissal_dates_j

diss = []
for i in range(len(dismissal_dates)):
    diss += dismissal_dates[i]
employees_df["data_zwolnienia"] = diss

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [492]:
employees_df

,id,imię,nazwisko,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca
0,1,Justyna,Greczychin,81011260520,Wrocław,ul. Spacerowa 38,48564736169,justyna.greczychin@kuba.pl,2014-01-01,None,menadżer,60.1
1,2,Klaudia,Winowlaska,90031193161,Wrocław,ul. Szarugi 79,48074886340,klaudia.winowlaska@kuba.pl,2014-01-01,None,sprzedawca,59.1
2,3,Daria,Biernat,78070792103,Wrocław,ul. Szafirowa 54,48298201614,daria.biernat@kuba.pl,2014-01-01,None,sprzedawca,59.9
3,4,Olexandr,Trybus,65112501991,Wrocław,ul. Wolności 72/21,48013545504,olexandr.trybus@kuba.pl,2014-01-01,None,mechanik,55.4
11,5,Natan,Kosek,81060737499,Nowa Sól,ul. Azaliowa 23/4,48608862218,natan.kosek@kuba.pl,2014-01-01,None,informatyk,45.1
4,6,Katarzyna,Kowal,80092199040,Poniatowa,ul. Tarczyńska 71,48966949948,katarzyna.kowal@kuba.pl,2014-11-30,None,mechanik,56.3
5,7,Katarzyna,Siewniak,85111045649,Wrocław,ul. Żuławska 95,48688677559,katarzyna.siewniak@kuba.pl,2015-01-22,2016-07-08,mechanik,50.7
6,8,Marek,Murawka,76100557234,Wrocław,ul. Głowackiego 16,48838520479,marek.murawka@kuba.pl,2015-04-02,None,mechanik,49.7
7,9,Grażyna,Woronowicz,91120528347,Wrocław,ul. Lipowa 80/17,48639976726,grazyna.woronowicz@kuba.pl,2015-08-13,None,pomocnik mechanika,42.4
8,10,Svitlana,Bąk,91020415860,Opole,ul. Pogodna 14,48863433764,svitlana.bak@kuba.pl,2015-11-12,2016-10-13,pomocnik mechanika,38.2
9,11,Seweryn,Kozłowski,65010109273,Wrocław,ul. Droga do Walczaków 74,48678549433,seweryn.kozlowski@kuba.pl,2017-01-26,None,diagnosta samochodowy,57.2
10,12,Artur,Dziewic,68080682716,Wrocław,ul. Warszawska 84/50,48029008091,artur.dziewic@kuba.pl,2017-03-25,None,sprzątający,36.6
12,13,Jan,Łuczejko,71111581072,Wrocław,ul. Rzeczna 3/23,48880632062,jan.luczejko@kuba.pl,2017-08-19,None,informatyk,49.9
13,14,Kostiantyn,Dudzic,78020218433,Wrocław,ul. Chabrowa 77/30,48603281220,kostiantyn.dudzic@kuba.pl,2017-09-10,None,księgowy,44.2

In [493]:
employees_df.to_csv("outputs/pracownicy.csv", index=False)

# Transakcje

In [494]:
no_transactions = np.random.poisson(2000)
begining_buy = 20

dates = random_transaction_dates(begining_date, end_date, no_transactions)

In [495]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [496]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)
year_ceil = [int(date[:4])-19 for date in dates[:20]]

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1
            year_ceil.append(int(dates[i][:4])-19)

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
            year_ceil.append(int(dates[i][:4])-19)
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1
            year_ceil.append(int(dates[i][:4])-19)

In [497]:
len(year_ceil), len(pd.unique(client_ids))

(1471, 1471)

In [498]:
year_ceil

[1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 ...]

In [499]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [500]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [501]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [502]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [503]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [504]:
year_floor = 1960
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man([year_floor, year_ceil[i]])
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_floor, year_ceil[i]))
        sex = 'M'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man([year_floor, year_ceil[i]])
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_floor, year_ceil[i]))
        sex = 'K'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
                             
clients_df.astype({"PESEL": str})

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Halina,Józefczak,K,65020702231,Łódź,ul. Cmentarna 28,False,48701843469,h_jozefcza1965@gmail.com
1,2,Paweł,Goliński,M,70041953052,Wrocław,ul. Marii Dąbrowskiej 74,False,48518099364,pgolinsk1970@gmail.com
2,3,Szymon,Janiak,M,88091420192,Wrocław,ul. Zielone Pole 84/30,True,48630368433,sjaniak1988@protonmail.com
3,4,Peter,Marek,M,94061599319,Gorzów Wielkopolski,ul. Franciszka Marchewicza 81/7,False,48975854715,p.marek@wp.pl
4,5,Bernardyna,Śronkowska,K,84121981453,Wrocław,ul. Tęczowa 80/19,True,48574924875,b.sronkowska1984@gmail.com
...,...,...,...,...,...,...,...,...,...,...
1466,1467,Patrycja,Kowalska,K,84070860018,Wrocław,ul. Napoleońska 43/28,False,48264081390,p_kowalska84@gmail.com
1467,1468,Marcin,Feiglewicz,M,93122524253,Kraków,ul. Ludwika Mierosławskiego 16/9,False,48870129560,feiglewicz19938@wp.pl
1468,1469,Andrzej,Olszewski,M,None,Prudnik,ul. Krótka 64/44,False,48705799629,a-olszewski@interia.pl
1469,1470,Justyna,Pańczak,K,95061951215,Wrocław,ul. Rejsowa 27,False,48748244355,jus.pancza@wp.pl
1470,1471,Mikołaj,Jakubczak,M,84040962571,Wrocław,ul. Jaśminowa 3/51,False,48782407435,jakubczamikolaj1984@gmail.com

In [505]:
clients_with_lc = clients_df[clients_df["karta_lojalnościowa"]]["id"].values

loyalty_card_dates = [() for i in range(len(clients_with_lc))]
for (i, client) in enumerate(clients_with_lc):
    loyalty_card_dates[i] = client, dates[np.where(client_ids == client)[0][2]]

In [506]:
clients_df

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Halina,Józefczak,K,65020702231,Łódź,ul. Cmentarna 28,False,48701843469,h_jozefcza1965@gmail.com
1,2,Paweł,Goliński,M,70041953052,Wrocław,ul. Marii Dąbrowskiej 74,False,48518099364,pgolinsk1970@gmail.com
2,3,Szymon,Janiak,M,88091420192,Wrocław,ul. Zielone Pole 84/30,True,48630368433,sjaniak1988@protonmail.com
3,4,Peter,Marek,M,94061599319,Gorzów Wielkopolski,ul. Franciszka Marchewicza 81/7,False,48975854715,p.marek@wp.pl
4,5,Bernardyna,Śronkowska,K,84121981453,Wrocław,ul. Tęczowa 80/19,True,48574924875,b.sronkowska1984@gmail.com
...,...,...,...,...,...,...,...,...,...,...
1466,1467,Patrycja,Kowalska,K,84070860018,Wrocław,ul. Napoleońska 43/28,False,48264081390,p_kowalska84@gmail.com
1467,1468,Marcin,Feiglewicz,M,93122524253,Kraków,ul. Ludwika Mierosławskiego 16/9,False,48870129560,feiglewicz19938@wp.pl
1468,1469,Andrzej,Olszewski,M,None,Prudnik,ul. Krótka 64/44,False,48705799629,a-olszewski@interia.pl
1469,1470,Justyna,Pańczak,K,95061951215,Wrocław,ul. Rejsowa 27,False,48748244355,jus.pancza@wp.pl
1470,1471,Mikołaj,Jakubczak,M,84040962571,Wrocław,ul. Jaśminowa 3/51,False,48782407435,jakubczamikolaj1984@gmail.com

In [507]:
clients_df.to_csv("outputs/klienci.csv", index=False)

In [508]:
np.sum(clients_df['karta_lojalnościowa'])

80

In [509]:
np.sum(pd.isna(clients_df["PESEL"]))

57

# auta

In [510]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [511]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, hp, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'moc', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [512]:
df_samochody = create_car_table(max(car_ids))

In [513]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,moc,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,Fiat,500,4,2003,SUV,False,biały,Benzyna,1.0,69,Manualna,5,5,False
1,2,Hero,Karizma,2,2005,,False,biały,Benzyna,0.4,65,Manualna,0,1,False
2,3,Volkswagen,Polo,4,2016,Hatchback,False,czarny,Benzyna,1.0,69,Manualna,3,5,False
3,4,Volkswagen,Golf,4,2005,Sedan,False,szary,Benzyna,2.3,140,Automatyczna,3,5,False
4,5,Audi,A3,4,2011,Kombi,False,czerwony,Benzyna,3.0,200,Manualna,3,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,957,Volkswagen,Golf,4,2007,Hatchback,False,złoty,Diesel,2.0,125,Automatyczna,5,2,True
957,958,SEAT,Leon,4,2012,Hatchback,False,biały,Diesel,2.0,131,Manualna,5,5,False
958,959,Audi,Q5,4,2012,Hatchback,False,szary,Diesel,4.0,258,Automatyczna,5,5,True
959,960,Yamaha,FZ V 2.0,2,2008,,False,brązowy,Benzyna,0.2,27,Automatyczna,0,1,False
960,961,BMW,X1,4,2013,SUV,False,biały,Benzyna,2.3,143,Automatyczna,5,5,True

In [514]:
df_samochody.to_csv("outputs/samochody.csv", index=False)

In [515]:
pd.unique(df_samochody["skrzynia_biegów"])

array(['Manualna', 'Automatyczna'], dtype=object)

# Usługi

In [516]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksięgowania'] = transaction_dates_service

# Zakup samochodów

In [517]:
def car_purchase_price(hp, yr_bought, yr_prod, post_acc):
    return np.round(hp * 1000 / np.sqrt(int(yr_bought) - int(yr_prod) + 1) * (0.75 if post_acc else 1) * rng.uniform(0.8, 1.2), -2)

In [518]:
buy_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_buy))
buy_ids = np.arange(len(transaction_dates_buy)) + 1

df_buy = pd.DataFrame()
df_buy['id'] = buy_ids
df_buy['id_samochodu'] = car_ids_buy
df_buy['id_klienta'] = client_ids_buy
df_buy['id_pracownika'] = buy_employee
df_buy['data_zaksięgowania'] = transaction_dates_buy

In [519]:

service_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_services[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
service_date_fix['data_zaksięgowania'] = service_date_fix['data_zaksięgowania'].str[:4]

buy_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_buy[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
buy_date_fix['data_zaksięgowania'] = buy_date_fix['data_zaksięgowania'].str[:4]

for i in range(len(buy_date_fix)):
    if str(buy_date_fix['rok_produkcji'].loc()[i]) >= str(buy_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = buy_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

for i in range(len(service_date_fix)):
    if str(service_date_fix['rok_produkcji'].loc()[i]) >= str(service_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = service_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

C:\Users\olkar\AppData\Local\Temp\ipykernel_26044\3526569416.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2006' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

In [520]:
purchase_prices = []
for j, i in enumerate(car_ids_buy):
    row = df_samochody.loc()[i-1]
    year_bought = transaction_dates_buy[j][:4]
    purchase_prices.append(car_purchase_price(row['moc'], year_bought, row['rok_produkcji'], row['czy_powypadkowy']))

df_buy['cena'] = purchase_prices

In [521]:
df_buy

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania      cena
0      1             1           1              3         2014-01-02   17900.0
1      2             2           2              3         2014-01-02   19800.0
2      3             3           3              3         2014-01-02   23800.0
3      4             4           4              3         2014-01-02   44100.0
4      5             5           5              2         2014-01-04  101100.0
..   ...           ...         ...            ...                ...       ...
920  921           316         565              2         2017-12-27   20700.0
921  922           957        1466              3         2017-12-28   31500.0
922  923           959        1470              2         2017-12-28   84600.0
923  924           960        1246              2         2017-12-31    7400.0
924  925           961         340              3         2017-12-31   72900.0

[925 rows x 6 columns]

In [522]:
df_buy.to_csv("outputs/zakup_samochodu.csv", index=False)

# Sprzedaż samochodów

In [523]:
sell_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_sell))
sell_ids = np.arange(len(transaction_dates_sell)) + 1

df_sell = pd.DataFrame()
df_sell['id'] = sell_ids
df_sell['id_samochodu'] = car_ids_sell
df_sell['id_klienta'] = client_ids_sell
df_sell['id_pracownika'] = sell_employee
df_sell['data_zaksięgowania'] = transaction_dates_sell

In [524]:
loyalty_card_customer_ids = [el[0] for el in loyalty_card_dates]
loyalty_card_dates_sep = [el[1] for el in loyalty_card_dates]

In [525]:
sell_prices = []
for i in car_ids_sell:
    b_price = df_buy[df_buy['id_samochodu'] == i]['cena'].values[0]
    sell_prices.append(np.round(b_price * rng.uniform(1.2, 1.5), -2))

for i in range(len(sell_ids)):
    customer_id = df_sell.loc()[i]['id_klienta']
    if clients_df[clients_df['id'] == customer_id]['karta_lojalnościowa'].bool() and customer_id in loyalty_card_customer_ids:
        date_index = loyalty_card_customer_ids.index(customer_id)
        if loyalty_card_dates_sep[date_index] < df_sell.loc()[i]['data_zaksięgowania']:
            sell_prices[i] *= 0.97
            #print(i)

sell_installments = []
for i in range(len(sell_ids)):
    if sell_prices[i] > 80000:
        inst_prob = [0.1, 0.2, 0.3, 0.4]
    else:
        inst_prob = [0.4, 0.3, 0.2, 0.1]
    installments = rng.choice([1, 6, 12, 18], p=inst_prob)
    if installments == 6:
        sell_prices[i] *= 1.02
    elif installments == 12:
        sell_prices[i] *= 1.04
    elif installments == 18:
        sell_prices[i] *= 1.06
    sell_installments.append(installments)
#print(sell_installments)

df_sell['cena'] = sell_prices
df_sell['liczba_rat'] = sell_installments
df_sell = df_sell[['id', 'id_samochodu', 'id_klienta', 'id_pracownika', 'cena', 'liczba_rat', 'data_zaksięgowania']]

C:\Users\olkar\AppData\Local\Temp\ipykernel_26044\1822833189.py:8: FutureWarning: Series.bool is now deprecated and will be removed in future version of pandas
  if clients_df[clients_df['id'] == customer_id]['karta_lojalnościowa'].bool() and customer_id in loyalty_card_customer_ids:

In [526]:
df_sell

,id,id_samochodu,id_klienta,id_pracownika,cena,liczba_rat,data_zaksięgowania
0,1,4,21,3,54060.0,6,2014-01-22
1,2,1,22,2,25700.0,1,2014-01-23
2,3,7,23,2,37856.0,12,2014-01-24
3,4,9,24,2,12826.0,18,2014-01-24
4,5,15,25,2,23088.0,12,2014-01-24
...,...,...,...,...,...,...,...
913,914,956,63,2,68052.0,18,2017-12-27
914,915,952,1467,2,26520.0,12,2017-12-28
915,916,948,1468,2,50668.0,18,2017-12-28
916,917,949,1293,2,36816.0,12,2017-12-29
917,918,960,1471,2,9588.0,6,2017-12-31

In [527]:
np.sum(df_sell["cena"] == float('inf')) # wychodzą inf wiec trzeba poprawić

0

In [528]:
df_sell.to_csv("outputs/sprzedaż_samochodu.csv", index=False)

# Użyte części

In [529]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(29, array([16, 51, 36], dtype=int64)), (41, array([0], dtype=int64)), (51, array([49], dtype=int64)), (53, array([10], dtype=int64)), (54, array([22, 50], dtype=int64)), (69, array([39], dtype=int64)), (71, array([15], dtype=int64)), (80, array([17, 13, 62], dtype=int64)), (85, array([20, 60], dtype=int64)), (89, array([32,  8, 62], dtype=int64)), (90, array([40, 14, 30], dtype=int64)), (96, array([31, 32], dtype=int64)), (97, array([17], dtype=int64)), (101, array([43], dtype=int64)), (106, array([10], dtype=int64)), (111, array([33], dtype=int64)), (114, array([21], dtype=int64)), (118, array([54], dtype=int64)), (127, array([23], dtype=int64)), (134, array([37], dtype=int64)), (137, array([ 8, 21, 59], dtype=int64)), (156, array([23], dtype=int64)), (158, array([12], dtype=int64)), (167, array([10], dtype=int64)), (170, array([23], dtype=int64)), (184, array([33, 33], dtype=int64)), (191, array([28, 49], dtype=int64)), (211, array([ 2, 59], dtype=int64)), (214, array([57], dtype=int64)), (263, array([1], dtype=int64)), (268, array([2], dtype=int64)), (270, array([49, 33], dtype=int64)), (274, array([11], dtype=int64)), (282, array([53], dtype=int64)), (287, array([7], dtype=int64)), (313, array([56], dtype=int64)), (321, array([51], dtype=int64)), (54, array([10, 25], dtype=int64)), (339, array([41], dtype=int64)), (343, array([33], dtype=int64)), (355, array([29, 10, 30], dtype=int64)), (388, array([63, 30, 10], dtype=int64)), (391, array([40], dtype=int64)), (200, array([48], dtype=int64)), (387, array([61], dtype=int64)), (400, array([17], dtype=int64)), (405, array([61], dtype=int64)), (409, array([56], dtype=int64)), (411, array([31, 43], dtype=int64)), (417, array([49], dtype=int64)), (420, array([61, 12], dtype=int64)), (423, array([21], dtype=int64)), (427, array([18, 32], dtype=int64)), (443, array([18], dtype=int64)), (444, array([48, 26, 33], dtype=int64)), (446, array([ 0, 58], dtype=int64)), (447, array([16], dtype=int64)), (451, array([11], dtype=int64)), (463, array([28], dtype=int64)), (477, array([56, 46], dtype=int64)), (482, array([52], dtype=int64)), (488, array([55], dtype=int64)), (502, array([57], dtype=int64)), (509, array([59], dtype=int64)), (523, array([56, 55], dtype=int64)), (543, array([40], dtype=int64)), (554, array([53, 54], dtype=int64)), (574, array([ 9, 31], dtype=int64)), (577, array([24], dtype=int64)), (579, array([13, 54,  1], dtype=int64)), (585, array([32], dtype=int64)), (596, array([17], dtype=int64)), (597, array([52], dtype=int64)), (602, array([62, 28], dtype=int64)), (608, array([50], dtype=int64)), (379, array([45,  9], dtype=int64)), (610, array([38], dtype=int64)), (634, array([16], dtype=int64)), (638, array([3], dtype=int64)), (649, array([11, 27], dtype=int64)), (651, array([3], dtype=int64)), (653, array([60], dtype=int64)), (660, array([41], dtype=int64)), (669, array([48], dtype=int64)), (686, array([58], dtype=int64)), (689, array([47], dtype=int64)), (693, array([61], dtype=int64)), (710, array([60], dtype=int64)), (711, array([29], dtype=int64)), (129, array([7, 4], dtype=int64)), (722, array([24,  7], dtype=int64)), (724, array([ 4, 44], dtype=int64)), (731, array([18], dtype=int64)), (737, array([59], dtype=int64)), (741, array([ 5, 59], dtype=int64)), (750, array([19], dtype=int64)), (755, array([ 9, 50], dtype=int64)), (783, array([11, 39], dtype=int64)), (784, array([46], dtype=int64)), (536, array([35], dtype=int64)), (438, array([55], dtype=int64)), (801, array([10], dtype=int64)), (806, array([44, 28], dtype=int64)), (816, array([54, 37], dtype=int64)), (823, array([9], dtype=int64)), (831, array([ 7, 24], dtype=int64)), (840, array([10], dtype=int64)), (846, array([58], dtype=int64)), (848, array([10, 18], dtype=int64)), (854, array([1], dtype=int64)), (857, array([9], dtype=int64)), (859, array([58, 58], dtype=int64)), (865, array([55], dtype=int64)), (869, array([20], dtype=int64)), (888, array([62, 47], dtype=int64)), (889, array([52, 45], dtype=int64)), (892, array([53], dtype=int64)), (898, array([39, 37], dtype=int64)), (666, array([ 6, 29, 12], dtype=int64)), (351, array([43], dtype=int64)), (36, array([19, 17], dtype=int64)), (919, array([ 3, 51], dtype=int64)), (928, array([50, 50], dtype=int64)), (942, array([37], dtype=int64)), (945, array([35], dtype=int64)), (958, array([31], dtype=int64))]

In [530]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id-1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['nazwa', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['nazwa', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [531]:
parts

                 nazwa             atrybut cena id_usługi ilość
0              Głośnik     Volkswagen Golf  163         1     1
1       Pompa paliwowa     Volkswagen Golf  535         1     1
2     Klocek hamulcowy     Volkswagen Golf   33         1     4
3                Maska  Renault Clio szary  408         2     1
4         Filtr paliwa         Skoda Fabia  300         3     1
..                 ...                 ...  ...       ...   ...
177      Wtrysk paliwa           SEAT Leon  702       123     1
178      Wtrysk paliwa           SEAT Leon  997       123     1
179      Pedał hamulca             Audi A3   76       124     1
180  Przewód hamulcowy                       50       125     1
181           Zagłówek           SEAT Leon   20       126     2

[182 rows x 5 columns]

# Wyposażenie

In [532]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['nazwa']
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['cena_części'] = equipment_price.astype(float)

In [533]:
df_equipment

      id             nazwa             atrybut  cena_części
0      1           Głośnik     Volkswagen Golf        163.0
1      2    Pompa paliwowa     Volkswagen Golf        535.0
2      3  Klocek hamulcowy     Volkswagen Golf         33.0
3      4             Maska  Renault Clio szary        408.0
4      5      Filtr paliwa         Skoda Fabia        300.0
..   ...               ...                 ...          ...
175  151           Spojler      Audi RS6 szary       2357.0
176  152    Pompa paliwowa            Audi RS6       2507.0
177  153     Wtrysk paliwa           SEAT Leon        702.0
179  154     Pedał hamulca             Audi A3         76.0
181  155          Zagłówek           SEAT Leon         20.0

[155 rows x 4 columns]

# Usługi - uzupełnienie

In [534]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [535]:
df_services

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania  cena
0      1            29          57              6         2014-02-14  1050
1      2            41          79              6         2014-03-04   520
2      3            51          98              8         2014-03-22   380
3      4            53         100              6         2014-03-23   430
4      5            54         102              6         2014-03-26  1000
..   ...           ...         ...            ...                ...   ...
121  122           919         562              7         2017-10-21  6180
122  123           928         978              4         2017-11-05  2160
123  124           942        1445              4         2017-12-03   100
124  125           945        1450              4         2017-12-08    60
125  126           958        1469              8         2017-12-28    50

[126 rows x 6 columns]

In [536]:
df_services.to_csv("outputs/usługi.csv", index=False)

# Użyte części - uzupełnienie

In [537]:
used_parts_df = parts.merge(df_equipment, on=['nazwa', 'atrybut'])
used_parts_df.rename(columns={'id': 'id_części'}, inplace=True)
used_parts_df['ilość'] = pd.to_numeric(used_parts_df['ilość'])
ids = np.arange(len(used_parts_df))+1
used_parts_df['id'] = ids
used_parts_df = used_parts_df[['id', 'id_usługi', 'id_części', 'ilość']]

In [538]:
used_parts_df

      id id_usługi  id_części  ilość
0      1         1          1      1
1      2         1          2      1
2      3         1          3      4
3      4         2          4      1
4      5         3          5      1
..   ...       ...        ...    ...
177  178       123        153      1
178  179       123        153      1
179  180       124        154      1
180  181       125        127      1
181  182       126        155      2

[182 rows x 4 columns]

In [539]:
used_parts_df.to_csv("outputs/użyte_części.csv", index=False)

# Zakup części

In [540]:
def get_service_date(part_id):
    
    index_used_part = used_parts_df[used_parts_df['id_części'] == part_id].index[0]
    service_date = df_services[df_services['id'] == index_used_part]['data_zaksięgowania']
    return service_date
    

buy_parts_quantity = used_parts_df.groupby(['id_części'])['ilość'].sum().reset_index()
parts_purchase_pd = pd.DataFrame(columns=['id', 'id_części', 'koszt', 'ilość'])

for i in range(len(buy_parts_quantity)):
    part_id = buy_parts_quantity['id_części'][i]
    quantity = buy_parts_quantity['ilość'][i]
    price = df_equipment['cena_części'][df_equipment['id'] == part_id].to_numpy()
    if price > 1000:
        quantity += rng.random() < 0.5
    elif price > 500:
        quantity += rng.choice([0, 1, 2], p=[0.2, 0.5, 0.3])
    else:
        quantity += rng.binomial(25, 0.15)
    total_cost = np.floor(quantity * price * rng.uniform(0.75, 0.95))[0]
    service_date = get_service_date(part_id)
    
    row = [int(i+1), int(part_id), total_cost, int(quantity)]
    parts_purchase_pd.loc[i] = row

In [541]:
parts_purchase_pd

        id  id_części   koszt  ilość
0      1.0        1.0   540.0    4.0
1      2.0        2.0   490.0    1.0
2      3.0        3.0   277.0   10.0
3      4.0        4.0  1261.0    4.0
4      5.0        5.0  1018.0    4.0
..     ...        ...     ...    ...
150  151.0      151.0  1810.0    1.0
151  152.0      152.0  1953.0    1.0
152  153.0      153.0  2361.0    4.0
153  154.0      154.0   263.0    4.0
154  155.0      155.0   150.0    8.0

[155 rows x 4 columns]

In [542]:
parts_purchase_pd.to_csv("outputs/zakup_części.csv", index=False)

In [543]:
df_equipment = df_equipment[['id', 'nazwa', 'atrybut']]

In [544]:
df_equipment.to_csv("outputs/wyposażenie.csv", index=False)