In [170]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter

# Pracownicy

In [171]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca[zł/h]"])
for (i, job) in enumerate(jobs_list):
    c = 0
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(employment_date), end_date, 1)[0]
            c += 1
        else:
            dismissal_date = None

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, birth_date, pesel,
                                                         city, address, phone, email, employment_date,
                                                         dismissal_date, job, wage]

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [172]:
employees_df

,id,imię,nazwisko,data_urodzenia,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca[zł/h]
0,1,Franciszek,Salatskyi,16/03/1966,66031650470,Kostrzyn nad Odrą,ul. Sosnowa 58/12,48478748133,franciszek.salatskyi@kuba.pl,2014-01-01,None,menadżer,67.5
1,2,Stefan,Michalak,01/04/1984,84040196936,Wrocław,ul. Rybaki 32/43,48444196487,stefan.michalak@kuba.pl,2014-01-01,2016-07-21,sprzedawca,46.3
2,3,Eugenia,Panek,13/07/1984,84071320041,Wrocław,ul. Słoneczna 5/39,48286908573,eugenia.panek@kuba.pl,2014-01-01,None,sprzedawca,58.9
5,4,Wiktor,Wielec,05/05/1970,70050528854,Wrocław,ul. Ratowników 26/49,48681403976,wiktor.wielec@kuba.pl,2014-01-01,2015-05-20,mechanik,48.3
15,5,Mariusz,Wasilewski,05/09/1988,88090520558,Bolesławiec,ul. Mołodycka 34/14,48179511585,mariusz.wasilewski@kuba.pl,2014-01-01,None,informatyk,57.5
3,6,Mariola,Lasek,15/07/1980,80071585446,Wejherowo,ul. Cienista 79/41,48819703641,mariola.lasek@kuba.pl,2014-12-13,None,sprzedawca,53.3
4,7,Andrzej,Baryła,06/11/1976,76110626294,Wrocław,ul. Widokowa 42,48757622056,andrzej.baryla@kuba.pl,2015-01-16,None,sprzedawca,59.9
6,8,Valentyna,Sosnowska,28/11/1965,65112867927,Wrocław,ul. Leśna 16,48510325897,valentyna.sosnowska@kuba.pl,2015-03-10,2017-06-03,mechanik,54.8
7,9,Aliaksandr,Pecyna,12/02/1962,62021291155,Żuromin,ul. Słoneczna 46/24,48332659445,aliaksandr.pecyna@kuba.pl,2015-09-25,None,mechanik,52.1
8,10,Jacek,Skiba,16/09/1985,85091670299,Wrocław,ul. Orzeszkowej 31/18,48842292705,jacek.skiba@kuba.pl,2015-10-09,None,mechanik,59.3
9,11,Kostiantyn,Lesiński,03/01/1970,70010333878,Pyrzyce,ul. Gruszczyńska 71/37,48931094145,kostiantyn.lesinski@kuba.pl,2015-10-23,None,mechanik,50.2
10,12,Robert,Shmyhel,21/08/1976,76082186831,Wrocław,Aleja Nikoli Tesli 96/10,48838726107,robert.shmyhel@kuba.pl,2015-11-26,None,pomocnik mechanika,40.2
11,13,Katarzyna,Kuśmierczyk,26/07/1960,60072609284,Jelenia Góra,ul. Turkusowa 69,48114781198,katarzyna.kusmierczyk@kuba.pl,2016-07-20,None,diagnosta samochodowy,47.1
12,14,Zenon,Słowik,27/01/1977,77012758294,Wrocław,ul. 1 Maja 96,48099261014,zenon.slowik@kuba.pl,2016-07-26,None,diagnosta samochodowy,49.1
13,15,Helena,Kowalska,13/08/1965,65081322364,Wrocław,ul. Wietrzna 30/5,48417535932,helena.kowalska@kuba.pl,2016-09-03,None,sprzątający,36.5
14,16,Zofia,Żelazko,24/05/1962,62052431481,Wrocław,ul. Cicha 41/5,48111235702,zofia.zelazko@kuba.pl,2016-10-14,None,sprzątający,38.4
16,17,Robert,Pendel,28/12/1971,71122888674,Wrocław,ul. Perłowa 91/7,48962902567,robert.pendel@kuba.pl,2017-08-16,None,informatyk,42.6
17,18,Bożena,Pieniążek,16/02/1979,79021686900,Wrocław,ul. Parkowa 96,48920344108,bozena.pieniazek@kuba.pl,2017-12-28,None,księgowy,51.1

# Transakcje

In [173]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [174]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [175]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [176]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [177]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [178]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [179]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [185]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [182]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        pesel, birth_date = random_pesel_date_man(year_lims)
        sex = "M"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        pesel, birth_date = random_pesel_date_woman(year_lims)
        sex = "F"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]

In [183]:
clients_df

,id,imię,nazwisko,data_urodzenia,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Mateusz,Garstecki,26/08/2008,M,08282620853,Wrocław,ul. Warzywna 39/8,True,48086429745,mgarsteck08@wp.pl
1,2,Łukasz,Wróbel,01/02/1974,M,74020137358,Gorzów Wielkopolski,ul. Szkolna 21/17,False,48847250552,s3agz@opayq.com
2,3,Tiago,Pikora,04/10/1997,M,97100470316,Grudziądz,ul. Drawska 18/36,False,48737637508,t_pikor97@wp.pl
3,4,Kazina,Skiba,24/08/1973,F,73082435040,Prudnik,ul. Koziegłowska 65/7,False,48497475959,k_skiba1973@gmail.com
4,5,Agnieszka,Savchuk,27/10/1973,F,73102785782,Trzebinia,ul. Mińska 46/26,False,48328472976,acl3wofb@onet.pl
...,...,...,...,...,...,...,...,...,...,...,...
1458,1459,Marianna,Czajka,08/07/1980,F,80070890903,Wrocław,ul. Szkolna 51/8,False,48097080515,m-czajka@gmail.com
1459,1460,Zuzanna,Kozłowska,15/05/1984,F,84051502209,Łódź,ul. Sianowska 61/2,False,48944325744,ko.zuzann@protonmail.com
1460,1461,Karolina,Wiaderny,19/03/2007,F,07231997363,Wrocław,ul. Osikowa 21,False,48530609853,wiaderny20073@o2.pl
1461,1462,Krystyna,Szczypka,30/06/1999,F,99063090622,Łódź,ul. Promienna 26,False,48813133106,kryszczy@onet.pl
1462,1463,Katarzyna,Klimczak,23/05/1980,F,80052350940,Toruń,ul. Klonowa 63,False,48511113527,kat.klimcz@gmail.com

In [184]:
np.sum(clients_df['karta_lojalnościowa'])

87

# auta