In [40]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [41]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca[zł/h]"])
for (i, job) in enumerate(jobs_list):
    c = 0
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(employment_date), end_date, 1)[0]
            c += 1
        else:
            dismissal_date = None

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, birth_date, pesel,
                                                         city, address, phone, email, employment_date,
                                                         dismissal_date, job, wage]

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [42]:
employees_df

,id,imię,nazwisko,data_urodzenia,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca[zł/h]
0,1,Julia,Urbanek,03/10/1961,61100321767,Wrocław,ul. Pocztowa 77/33,48264034959,julia.urbanek@kuba.pl,2014-01-01,None,menadżer,71.7
1,2,Teresa,Samborek,11/05/1986,86051148821,Praszka,ul. Adama Mickiewicza 89/51,48756633215,teresa.samborek@kuba.pl,2014-01-01,None,sprzedawca,58.7
2,3,Wiesława,Kowalczyk,16/10/1976,76101674189,Wrocław,ul. Zachodnia 36/28,48223678358,wieslawa.kowalczyk@kuba.pl,2014-01-01,None,sprzedawca,58.9
4,4,Wojciech,Rowicki,17/06/1980,80061714515,Zielona Góra,ul. Zaczarowana 69,48649098188,wojciech.rowicki@kuba.pl,2014-01-01,None,mechanik,55.2
12,5,Stanisław,Pryjda,04/08/1989,89080480517,Wrocław,ul. Stokrotkowa 28/47,48731502201,stanislaw.pryjda@kuba.pl,2014-01-01,2017-02-11,informatyk,40.6
3,6,Wiktor,Rozicki,15/01/1978,78011587494,Wrocław,ul. Oświęcimska 60/5,48699687694,wiktor.rozicki@kuba.pl,2014-10-30,None,sprzedawca,57.0
5,7,Jolanta,Woźniak,16/02/1969,69021626842,Słupsk,ul. Ignacego Potockiego 3/34,48539620077,jolanta.wozniak@kuba.pl,2015-01-24,2015-08-12,mechanik,58.5
6,8,Iwona,Bilecka,20/10/1995,95102007844,Wrocław,ul. Słoneczna 72/43,48963600523,iwona.bilecka@kuba.pl,2015-05-15,None,mechanik,53.0
7,9,Małgorzata,Zwierzyna,28/11/1963,63112801424,Wrocław,ul. Orkiszowa 47/25,48888175290,malgorzata.zwierzyna@kuba.pl,2015-08-18,None,mechanik,48.7
8,10,Jarosław,Stepaniuk,24/06/1966,66062404231,Wrocław,ul. Lipowa 47/33,48418012262,jaroslaw.stepaniuk@kuba.pl,2015-09-12,None,mechanik,56.9
9,11,Piotr,Gierek,06/03/1961,61030652515,Wrocław,ul. Piastowska 66/48,48906295393,piotr.gierek@kuba.pl,2015-09-25,None,pomocnik mechanika,39.5
10,12,Kajetan,Szewczyk,24/10/1980,80102495812,Wrocław,ul. Klonowa 46/24,48986362541,kajetan.szewczyk@kuba.pl,2015-12-13,None,diagnosta samochodowy,58.6
11,13,Oleksandr,Bienia,12/12/1978,78121295559,Wrocław,ul. Spokojna 30/37,48371608130,oleksandr.bienia@kuba.pl,2016-03-31,None,sprzątający,38.5
13,14,Dariusz,Orżewski,18/05/1977,77051801393,Olsztyn,ul. Lawendowa 30,48151425391,dariusz.orzewski@kuba.pl,2017-01-12,None,informatyk,43.0
14,15,Jolanta,Maciejczuk,13/06/1963,63061352527,Wrocław,ul. Nowa 69/37,48672207799,jolanta.maciejczuk@kuba.pl,2017-02-01,None,księgowy,43.9

# Transakcje

In [43]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [44]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [45]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [46]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [47]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [48]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [49]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [50]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [51]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        pesel, birth_date = random_pesel_date_man(year_lims)
        sex = "M"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        pesel, birth_date = random_pesel_date_woman(year_lims)
        sex = "F"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]

In [52]:
clients_df

,id,imię,nazwisko,data_urodzenia,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Halyna,Ziółko,23/11/1992,F,92112368684,Wrocław,ul. Różana 43/7,False,48353180363,ziolko0@wp.pl
1,2,Konrad,Stańczak,26/04/1980,M,80042671299,Kamień Pomorski,ul. Odechowska 48/26,False,48550859272,stanczak19803@gmail.com
2,3,Łukasz,Biskup,03/05/2009,M,09250310817,Łódź,ul. Polna 10/18,False,48301431393,biskup20093@wp.pl
3,4,Linda,Czerniak,03/09/1980,F,80090356843,Opole,ul. Reja 67/6,False,48514111649,lin-cze@interia.pl
4,5,Karol,Kuciel,04/10/1991,M,91100400993,Morąg,ul. Magnoliowa 92,False,48359135851,kuci.ka91@o2.pl
...,...,...,...,...,...,...,...,...,...,...,...
1512,1513,Vasyl,Budzyński,24/12/1985,M,85122417817,Wrocław,ul. Piwna 2/21,False,48525338530,rj9ovse3lm8@gmail.com
1513,1514,Anna,Mazur,21/02/2002,F,02222162960,Kraków,ul. Jana Achacego Kmity 66/34,False,48833912425,a.mazu2002@wp.pl
1514,1515,Antoni,Kielesiński,06/03/1981,M,81030604473,Wrocław,ul. Piaski 41/12,False,48945352569,kielesi-a@wp.pl
1515,1516,Monika,Rybak,13/04/1979,F,79041356940,Warszawa,ul. Srebrna 1/29,False,48285610650,rybak19794@wp.pl
1516,1517,Anetta,Kwiatkowska,08/06/1989,F,89060853265,Wrocław,ul. Świerkowa 54,False,48961900115,a.kwiatkowska1989@o2.pl

In [53]:
np.sum(clients_df['karta_lojalnościowa'])

np.int64(76)

# auta

In [54]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [55]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [56]:
df_samochody = create_car_table(max(car_ids)-1)

In [57]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,TVS,Apache RTR 160,2,2013,,False,czarny,Benzyna,0.4,Manualna,0,1,False
1,2,SEAT,Leon,4,2005,SUV,True,biały,Benzyna,1.4,Manualna,3,5,False
2,3,Volkswagen,up!,4,2004,Hatchback,False,czarny,Benzyna,1.0,Manualna,3,5,False
3,4,Audi,SQ7,4,2008,Hatchback,False,biały,Diesel,6.8,Automatyczna,5,5,False
4,5,Audi,Q2,4,2010,Hatchback,True,srebrny,Benzyna,1.9,Manualna,3,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,Volkswagen,Golf,4,2016,Hatchback,False,czarny,Benzyna,4.7,Manualna,3,5,False
959,960,Citroen,C1,4,2005,Kombi,False,szary,Benzyna,1.0,Manualna,5,5,False
960,961,Honda,Jazz,4,2007,Hatchback,False,biały,Benzyna,1.5,Manualna,5,2,True
961,962,TVS,Apache RTR 200 4V,2,2008,,False,srebrny,Benzyna,0.4,Automatyczna,0,1,True
962,963,Volkswagen,Polo,4,2011,Kombi,True,biały,Benzyna,1.4,Manualna,5,2,True

# Usługi

In [58]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_price = rng.random(size=len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksiegowania'] = transaction_dates_service

# Użyte części

In [60]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(np.int64(21), array([57])), (np.int64(26), array([36, 17])), (np.int64(45), array([0])), (np.int64(49), array([23, 52])), (np.int64(55), array([48, 32])), (np.int64(57), array([16,  0])), (np.int64(60), array([19, 51])), (np.int64(62), array([56, 11])), (np.int64(77), array([28, 19, 23])), (np.int64(94), array([60])), (np.int64(110), array([19, 13])), (np.int64(112), array([35])), (np.int64(113), array([16])), (np.int64(114), array([46, 11, 30])), (np.int64(123), array([17])), (np.int64(127), array([36])), (np.int64(135), array([4])), (np.int64(166), array([54])), (np.int64(173), array([43])), (np.int64(201), array([59, 43])), (np.int64(203), array([25,  5,  8])), (np.int64(207), array([42])), (np.int64(239), array([34])), (np.int64(241), array([26])), (np.int64(259), array([26])), (np.int64(265), array([57])), (np.int64(277), array([20, 19])), (np.int64(286), array([ 9, 57])), (np.int64(294), array([23])), (np.int64(299), array([34])), (np.int64(300), array([3])), (np.int64(310), array([25])), (np.int64(336), array([30, 38, 56])), (np.int64(342), array([28, 47])), (np.int64(363), array([30, 29])), (np.int64(372), array([59, 32])), (np.int64(375), array([24])), (np.int64(379), array([38,  6])), (np.int64(383), array([55])), (np.int64(393), array([57])), (np.int64(404), array([28])), (np.int64(428), array([27, 29,  6])), (np.int64(435), array([3])), (np.int64(446), array([34, 60, 10])), (np.int64(451), array([8])), (np.int64(454), array([13])), (np.int64(471), array([42, 42])), (np.int64(483), array([57,  3])), (np.int64(484), array([45])), (np.int64(496), array([63])), (np.int64(499), array([23])), (np.int64(500), array([38])), (np.int64(511), array([59])), (np.int64(513), array([38])), (np.int64(145), array([37])), (np.int64(534), array([24])), (np.int64(542), array([32])), (np.int64(528), array([40, 18])), (np.int64(558), array([37])), (np.int64(567), array([57])), (np.int64(570), array([49])), (np.int64(576), array([63, 41])), (np.int64(583), array([47, 59, 36])), (np.int64(585), array([5])), (np.int64(256), array([49])), (np.int64(611), array([37])), (np.int64(614), array([36, 17])), (np.int64(616), array([63])), (np.int64(618), array([29, 37,  2])), (np.int64(622), array([26])), (np.int64(625), array([15])), (np.int64(626), array([ 4, 21])), (np.int64(627), array([50, 54, 21])), (np.int64(635), array([54,  9])), (np.int64(641), array([52, 28, 41])), (np.int64(642), array([48])), (np.int64(650), array([18, 26])), (np.int64(653), array([43, 50])), (np.int64(658), array([8, 8])), (np.int64(224), array([15])), (np.int64(664), array([30])), (np.int64(670), array([61,  3])), (np.int64(564), array([33])), (np.int64(683), array([60, 30])), (np.int64(346), array([53])), (np.int64(210), array([23,  7])), (np.int64(718), array([62, 40, 49])), (np.int64(729), array([ 9, 40])), (np.int64(745), array([19, 42])), (np.int64(748), array([ 6, 27])), (np.int64(768), array([30])), (np.int64(786), array([30, 29, 22])), (np.int64(86), array([47, 23])), (np.int64(801), array([36])), (np.int64(802), array([41])), (np.int64(806), array([50])), (np.int64(813), array([46, 34, 34])), (np.int64(828), array([56,  5])), (np.int64(837), array([23])), (np.int64(849), array([33])), (np.int64(764), array([56, 55, 58])), (np.int64(850), array([2])), (np.int64(865), array([46])), (np.int64(894), array([17])), (np.int64(898), array([57, 18])), (np.int64(901), array([46])), (np.int64(905), array([56])), (np.int64(939), array([8])), (np.int64(944), array([32])), (np.int64(959), array([14,  6, 29])), (np.int64(960), array([34, 23, 56]))]

In [61]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id+1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['część', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['część', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'część', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['część', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [62]:
parts

                     część                      atrybut cena id_usługi ilość
0       Drążek kierowniczy                               100         1     1
1         Klocek hamulcowy                   Honda Jazz   21         2     4
2               Alternator                   Honda Jazz  174         2     1
3                    Maska            Opel Agila czarny  419         3     1
4    Podświetlenie tablicy                                20         4     1
..                     ...                          ...  ...       ...   ...
171           Opona letnia                          R17  208       110     4
172      Deska rozdzielcza                   Honda Jazz  124       110     1
173          Fotel przedni  TVS Apache RTR 200 4V skóra   53       111     1
174  Podświetlenie tablicy                                20       111     1
175             Kierownica        TVS Apache RTR 200 4V   22       111     1

[176 rows x 5 columns]

# Wyposażenie

In [63]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['część']
equipment_quantity = np.ones(eq_len).astype(int) #to później zmienić na kupione - użyte
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['ilość'] = equipment_quantity
df_equipment['cena_części'] = equipment_price

In [64]:
df_equipment

,id,nazwa,atrybut,ilość,cena_części
0,1,Drążek kierowniczy,,1,100
1,2,Klocek hamulcowy,Honda Jazz,1,21
2,3,Alternator,Honda Jazz,1,174
3,4,Maska,Opel Agila czarny,1,419
4,5,Podświetlenie tablicy,,1,20
...,...,...,...,...,...
168,135,Wewnętrzna klamka drzwi,Audi A4,1,15
170,136,Regulator okna,Honda Jazz,1,49
172,137,Deska rozdzielcza,Honda Jazz,1,124
173,138,Fotel przedni,TVS Apache RTR 200 4V skóra,1,53
175,139,Kierownica,TVS Apache RTR 200 4V,1,22

# Usługi - uzupełnienie

In [100]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [101]:
df_services

      id  id_samochodu  id_klienta  id_pracownika  cena data_zaksiegowania
0      1            21          40             10   130         2014-02-28
1      2            26          50             10   330         2014-03-11
2      3            45          84             10   540         2014-04-29
3      4            49          89              9   930         2014-05-06
4      5            55         101              7   390         2014-05-18
..   ...           ...         ...            ...   ...                ...
106  107           905        1212              4   110         2020-07-29
107  108           939        1488              4    20         2020-10-16
108  109           944        1494              8    60         2020-10-27
109  110           959        1515             10  1300         2020-12-23
110  111           960        1407             10   120         2020-12-23

[111 rows x 6 columns]

# Użyte części - uzupełnienie

# Zakup części