In [47]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter

# Pracownicy

In [48]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["szef", "sprzedawca", "mechanik", "pomocnik mechanika", "blacharz", 
                      "lakiernik", "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 4), rind(2, 4), rind(1, 3), 1, 
                        1, rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates("2014-01-01", "2018-01-01", np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "pesel", "miasto", "adres", "telefon", "email", "data_zatrudnienia", "data_zwolnienia", "stanowisko"])
for (i, job) in enumerate(jobs_list):
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, birth_date, pesel, city, address, phone, email, employment_date, None, job]

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [49]:
employees_df

,id,imię,nazwisko,data_urodzenia,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko
0,1,Rafał,Pajek,05/05/1985,85050568751,Wrocław,ul. Starowiejska 34/2,48375655409,rafal.pajek@kuba.pl,2014-01-01,None,szef
1,2,Henryk,Fedorowicz,18/05/1977,77051870836,Wrocław,ul. Borsuka 83/1,48171338613,henryk.fedorowicz@kuba.pl,2014-01-01,None,sprzedawca
2,3,Agnieszka,Suchok,23/04/1985,85042380523,Wrocław,ul. Władysława Kuboszka 29/40,48930912221,agnieszka.suchok@kuba.pl,2014-01-01,None,sprzedawca
3,4,Maciej,Langa,22/10/1969,69102237794,Bydgoszcz,ul. Szkolna 65,48864053549,maciej.langa@kuba.pl,2014-01-01,None,mechanik
8,5,Milena,Świerkosz,12/09/1962,62091244105,Mielec,ul. Słowiańska 20/1,48527893830,milena.swierkosz@kuba.pl,2014-01-01,None,diagnosta samochodowy
4,6,Magdalena,Brzezina,03/01/1987,87010384001,Wrocław,ul. Słoneczna 32/3,48232857509,magdalena.brzezina@kuba.pl,2014-10-25,None,mechanik
5,7,Piotr,Grochowski,08/12/1972,72120891815,Kietrz,ul. Zwycięzców spod Monte Cassino 23,48762341902,piotr.grochowski@kuba.pl,2015-02-21,None,pomocnik mechanika
6,8,Danuta,Deja,13/05/1970,70051391563,Wrocław,ul. Księżnej Elżbiety 87/23,48335733140,danuta.deja@kuba.pl,2015-04-22,None,blacharz
7,9,Stanisław,Bieńczak,07/08/1974,74080756412,Wrocław,ul. Ks. Jędrzeja Kitowicza 79/30,48747799902,stanislaw.bienczak@kuba.pl,2016-01-15,None,lakiernik
9,10,Martyna,Andrzejak,02/08/1963,63080237126,Wrocław,ul. Jagiellońska 73/32,48801587442,martyna.andrzejak@kuba.pl,2016-03-19,None,sprzątający
10,11,Halina,Popova,10/10/1968,68101037527,Wrocław,ul. Sybiraków 87/41,48827588388,halina.popova@kuba.pl,2016-08-12,None,sprzątający
11,12,Wiktoria,Kisielewska,14/05/1994,94051434660,Woźniki,ul. Nowa 72/16,48348506199,wiktoria.kisielewska@kuba.pl,2017-02-19,None,informatyk

# Transakcje

In [50]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [51]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [52]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([len(clients_cars) , len(our_cars)*50, len(clients_cars)/5])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [53]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [54]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

# klienci

In [55]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        pesel, birth_date = random_pesel_date_man(year_lims)
        sex = "M"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        pesel, birth_date = random_pesel_date_woman(year_lims)
        sex = "F"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]

In [56]:
clients_df

,id,imię,nazwisko,data_urodzenia,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Jakub,Dobrowolski,15/08/1972,M,72081528294,Wrocław,ul. Jabłoniowa 68/31,False,48751355370,k4y0vayjasz@opayq.com
1,2,Aleksandra,Kovalchuk,28/01/1988,F,88012874589,Wrocław,ul. Smutna 16,False,48351584939,kovalchuk5@interia.pl
2,3,Piotr,Wasilewski,18/12/1975,M,75121818078,Wrocław,ul. Klimontowska 11/8,False,48320687650,pwasile1975@gmail.com
3,4,Katarzyna,Głowacka,20/11/1979,F,79112065629,Wrocław,ul. Portowa 40/50,False,48603395395,yizai60vyl54@opayq.com
4,5,Stanisława,Podgórska,22/07/1992,F,92072203724,Wrocław,ul. Spokojna 14/24,False,48139425547,podgorska19927@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
1514,1515,Stanisław,Walosczyk,16/12/1990,M,90121624113,Wrocław,ul. Zacisze 6/38,False,48567916007,swalosc@wp.pl
1515,1516,Patryk,Jabłoński,10/09/1977,M,77091087735,Wrocław,ul. Krótka 6/29,False,48631621442,p.jablonski1977@interia.pl
1516,1517,Dominik,Bździach,13/06/1996,M,96061339137,Słupsk,ul. Stawowa 5/1,False,48593450557,d-bzdzi1996@wp.pl
1517,1518,Marzena,Harvanko,14/02/2008,F,08221448506,Wrocław,ul. Podgórna 46,False,48285544943,harva_6831@gmail.com
1518,1519,Adelajda,Brychcy,20/10/1980,F,80102069642,Wrocław,ul. Wysockiego 43,False,48387318950,brychcy4@wp.pl

In [57]:
np.sum(clients_df['karta_lojalnościowa'])

69

# auta