In [2]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [3]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca[zł/h]"])
for (i, job) in enumerate(jobs_list):
    c = 0
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(employment_date), end_date, 1)[0]
            c += 1
        else:
            dismissal_date = None

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, birth_date, pesel,
                                                         city, address, phone, email, employment_date,
                                                         dismissal_date, job, wage]

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [4]:
employees_df

,id,imię,nazwisko,data_urodzenia,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca[zł/h]
0,1,Adrian,Zientek,27/08/1983,83082782035,Lublin,ul. Marii Skłodowskiej-Curie 15/5,48492149877,adrian.zientek@kuba.pl,2014-01-01,None,menadżer,61.4
1,2,Wojciech,Michalik,06/12/1977,77120651876,Wrocław,ul. Dębowa Góra 50/14,48596126643,wojciech.michalik@kuba.pl,2014-01-01,None,sprzedawca,58.3
2,3,Zuzanna,Kucharz,08/09/1977,77090833627,Wrocław,ul. Bosmańska 89,48924182851,zuzanna.kucharz@kuba.pl,2014-01-01,None,sprzedawca,47.5
4,4,Michał,Derlat,08/05/1979,79050838479,Kołobrzeg,ul. Klonowa 97/12,48532778192,michal.derlat@kuba.pl,2014-01-01,2016-04-13,mechanik,49.4
14,5,Arkadiusz,Holyk,02/05/1989,89050209430,Bełchatów,ul. Lipowa 36,48476010636,arkadiusz.holyk@kuba.pl,2014-01-01,None,informatyk,51.0
3,6,Marlena,Książek,25/12/1970,70122594507,Wrocław,ul. Józefa Ignacego Kraszewskiego 49/19,48386752175,marlena.ksiazek@kuba.pl,2014-11-28,None,sprzedawca,57.3
5,7,Zuzanna,Dzięciołowska,26/03/1988,88032644847,Wrocław,ul. Tysiąclecia 12/39,48248120769,zuzanna.dzieciolowska@kuba.pl,2015-07-09,None,mechanik,57.0
6,8,Paweł,Zdziebko,30/03/1969,69033057856,Wrocław,ul. Pod Skałką 23/14,48881157023,pawel.zdziebko@kuba.pl,2015-11-02,None,mechanik,52.6
7,9,Iryna,Witkiewicz,16/12/1969,69121621222,Wrocław,ul. Francuska 86/51,48508027538,iryna.witkiewicz@kuba.pl,2016-03-22,None,mechanik,47.7
8,10,Karolina,Cwynar,08/06/1990,90060851009,Wrocław,ul. Marii Konopnickiej 89/3,48750751992,karolina.cwynar@kuba.pl,2016-06-21,None,pomocnik mechanika,44.0
9,11,Janusz,Kamiński,13/03/1967,67031309975,Wrocław,ul. Chopina 76,48021832961,janusz.kaminski@kuba.pl,2016-10-23,None,pomocnik mechanika,41.6
10,12,Anna,Siedlecka,04/07/1971,71070420049,Konin,ul. Skowronków 66/51,48897239059,anna.siedlecka@kuba.pl,2017-05-18,None,diagnosta samochodowy,49.4
11,13,Oliwia,Bachórz,18/11/1986,86111846629,Nowa Sól,ul. Sosnowa 58/38,48493198132,oliwia.bachorz@kuba.pl,2017-06-20,None,diagnosta samochodowy,56.6
12,14,Alfons,Halonza,18/02/1964,64021857155,Poznań,ul. Dębowa 77/38,48372836196,alfons.halonza@kuba.pl,2017-07-13,None,sprzątający,37.1
13,15,Marzena,Golda,11/11/1988,88111145043,Sokołów Podlaski,ul. Tytanowa 26/32,48208414947,marzena.golda@kuba.pl,2017-12-09,None,sprzątający,35.8

# Transakcje

In [5]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [6]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [7]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [8]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [9]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [10]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [11]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [12]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [13]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "data_urodzenia", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        pesel, birth_date = random_pesel_date_man(year_lims)
        sex = "M"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        pesel, birth_date = random_pesel_date_woman(year_lims)
        sex = "F"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, birth_date[-4:])
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, birth_date, sex, pesel, city, address, loyalty_card, phone, email]

In [14]:
clients_df

,id,imię,nazwisko,data_urodzenia,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Marc Anthony,Słomnicki,28/07/2003,M,03272827193,Szczecin,ul. Wrocławska 15/13,False,48419398065,m-s@wp.pl
1,2,Tomasz,Chytła,21/04/2004,M,04242125431,Gdynia,ul. Żuławska 21/50,False,48792926980,tchytla04@gmail.com
2,3,Anita,Szczygieł,01/05/1980,F,80050137123,Wrocław,ul. Baboszewska 42/6,False,48831828835,ani.sz5365@o2.pl
3,4,Łukasz,Janczynski,25/07/1995,M,95072557176,Łódź,ul. Kopalniana 3/6,False,48229803459,lukjanczynsk1995@gmail.com
4,5,Kazimierz,Karcz,03/09/1976,M,76090392196,Wrocław,ul. Wapniska 67/49,False,48262050366,w2a17070noq34u@onet.pl
...,...,...,...,...,...,...,...,...,...,...,...
1528,1529,Grzegorz,Hunek,12/10/1991,M,91101260170,Wrocław,ul. Pszczelna 19/46,False,48116031129,s69o85ll19z@wp.pl
1529,1530,Sławomira,Kowalska,08/02/1990,F,90020803903,Piotrków Trybunalski,ul. Władysława Hańczy 57/11,False,48927334341,skowalsk@gmail.com
1530,1531,Marcin,Budas,26/07/1979,M,79072674053,Wrocław,ul. Okrężna 5/39,False,48726748159,buda_3008@interia.pl
1531,1532,Edward,Jarosik,23/02/1977,M,77022306955,Wrocław,ul. Słonecznikowa 1/4,False,48912733553,edw.j6160@o2.pl
1532,1533,Weronika,Siedziewska,09/03/1977,F,77030919802,Wrocław,pl. Wolności 43/38,False,48212499673,o2ns0i46i5d2087onu@wp.pl

In [15]:
np.sum(clients_df['karta_lojalnościowa'])

np.int64(73)

# auta

In [16]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [17]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [18]:
df_samochody = create_car_table(max(car_ids)-1)

In [19]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,Bajaj,Avenger,2,2002,,False,czarny,Benzyna,0.6,Manualna,0,1,False
1,2,Mercedes-Benz,C 220,4,2013,Kombi,False,niebieski,Diesel,2.6,Automatyczna,5,5,False
2,3,SEAT,Ibiza,4,2002,Kombi,False,złoty,Benzyna,1.4,Manualna,5,5,False
3,4,Volkswagen,up!,4,2008,Kombi,False,biały,Benzyna,0.9,Manualna,5,5,False
4,5,Chevrolet,Cruze,4,2014,Hatchback,False,czarny,Diesel,2.1,Manualna,3,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,969,Mitsubishi,Outlander,4,2007,Hatchback,False,czarny,Diesel,2.2,Automatyczna,5,5,False
969,970,Opel,Corsa,4,2009,Sedan,False,szary,Diesel,1.8,Manualna,5,2,False
970,971,Kia,Picanto,4,2003,Kombi,True,czarny,Benzyna,1.1,Manualna,5,2,True
971,972,BMW,318,4,2008,Kombi,False,czarny,Diesel,2.2,Manualna,5,5,True
972,973,Peugeot,207,4,1998,Sedan,False,niebieski,Benzyna,1.3,Manualna,5,5,False

# Usługi

In [20]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_price = rng.random(size=len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksiegowania'] = transaction_dates_service

# Użyte części

In [21]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(np.int64(45), array([51])), (np.int64(86), array([39, 39])), (np.int64(91), array([5])), (np.int64(101), array([47])), (np.int64(104), array([47])), (np.int64(108), array([62, 55])), (np.int64(121), array([14])), (np.int64(133), array([2])), (np.int64(135), array([18, 16])), (np.int64(141), array([42])), (np.int64(151), array([32])), (np.int64(155), array([56])), (np.int64(194), array([ 3, 12])), (np.int64(203), array([29])), (np.int64(206), array([28])), (np.int64(252), array([13])), (np.int64(270), array([46, 62])), (np.int64(274), array([7])), (np.int64(289), array([31])), (np.int64(298), array([54,  2])), (np.int64(303), array([29, 16])), (np.int64(320), array([59, 26])), (np.int64(326), array([27])), (np.int64(350), array([49,  7])), (np.int64(355), array([ 8, 58,  5])), (np.int64(356), array([53])), (np.int64(358), array([20])), (np.int64(396), array([49, 17, 52])), (np.int64(398), array([15])), (np.int64(410), array([21])), (np.int64(423), array([60])), (np.int64(432), array([14])), (np.int64(459), array([13])), (np.int64(463), array([51, 62, 23])), (np.int64(464), array([60, 36])), (np.int64(470), array([18, 34])), (np.int64(475), array([56])), (np.int64(342), array([44, 55])), (np.int64(513), array([55])), (np.int64(516), array([57])), (np.int64(526), array([5])), (np.int64(544), array([45])), (np.int64(545), array([13])), (np.int64(565), array([39, 41])), (np.int64(568), array([32])), (np.int64(418), array([61])), (np.int64(585), array([36])), (np.int64(591), array([60, 20, 18])), (np.int64(594), array([39, 17])), (np.int64(597), array([60])), (np.int64(600), array([30, 46, 63])), (np.int64(612), array([55,  4])), (np.int64(194), array([46])), (np.int64(252), array([44])), (np.int64(630), array([62])), (np.int64(631), array([8])), (np.int64(632), array([20, 53, 36])), (np.int64(412), array([32, 12])), (np.int64(635), array([47])), (np.int64(636), array([1])), (np.int64(646), array([19])), (np.int64(650), array([25, 51, 56])), (np.int64(651), array([32])), (np.int64(655), array([23])), (np.int64(660), array([37, 32])), (np.int64(664), array([61])), (np.int64(668), array([ 6, 20])), (np.int64(673), array([26, 58,  1])), (np.int64(675), array([ 8, 38])), (np.int64(684), array([35])), (np.int64(103), array([41])), (np.int64(691), array([4])), (np.int64(693), array([29])), (np.int64(698), array([56])), (np.int64(376), array([15, 51])), (np.int64(739), array([10])), (np.int64(742), array([57])), (np.int64(745), array([12,  7])), (np.int64(747), array([57, 39])), (np.int64(751), array([52, 50])), (np.int64(618), array([45])), (np.int64(755), array([27, 49])), (np.int64(757), array([24, 43])), (np.int64(761), array([48, 20])), (np.int64(33), array([30, 63, 13])), (np.int64(778), array([51])), (np.int64(783), array([52, 29])), (np.int64(793), array([45, 37, 51])), (np.int64(352), array([37,  6, 59])), (np.int64(808), array([58, 15])), (np.int64(99), array([52, 48,  7])), (np.int64(818), array([60])), (np.int64(823), array([59, 49, 45])), (np.int64(828), array([61, 19])), (np.int64(57), array([14])), (np.int64(843), array([32])), (np.int64(849), array([21])), (np.int64(392), array([25])), (np.int64(854), array([24])), (np.int64(866), array([10])), (np.int64(877), array([19])), (np.int64(881), array([35, 29])), (np.int64(894), array([44, 11])), (np.int64(924), array([ 9, 49])), (np.int64(925), array([1])), (np.int64(928), array([57])), (np.int64(518), array([57])), (np.int64(933), array([39, 47])), (np.int64(934), array([35])), (np.int64(936), array([9])), (np.int64(968), array([ 9, 43, 50]))]

In [22]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id+1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['nazwa', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['nazwa', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [23]:
parts

                    nazwa              atrybut  cena id_usługi ilość
0          Pompa paliwowa       Renault Twingo   319         1     1
1                  Silnik       Opel Corsa 1.2  1889         2     1
2                  Silnik       Opel Corsa 1.2  2324         2     1
3            Opona zimowa                  R15   252         3     4
4               Zawór EGR                        500         4     1
..                    ...                  ...   ...       ...   ...
167     Przewód hamulcowy                         50       109     1
168  Drzwi prawe przednie  Dacia Sandero szary   387       110     1
169  Drzwi prawe przednie     Opel Corsa szary   413       111     1
170         Miska olejowa           Opel Corsa   532       111     1
171         Wtrysk paliwa           Opel Corsa   330       111     1

[172 rows x 5 columns]

# Wyposażenie

In [24]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['nazwa']
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['cena_części'] = equipment_price.astype(float)

In [25]:
df_equipment

      id                      nazwa              atrybut  cena_części
0      1             Pompa paliwowa       Renault Twingo        319.0
1      2                     Silnik       Opel Corsa 1.2       1889.0
3      3               Opona zimowa                  R15        252.0
4      4                  Zawór EGR                             500.0
6      5  Lusterko zewnętrzne prawe  Ford Focus czerwony         24.0
..   ...                        ...                  ...          ...
165  136                     Silnik      Peugeot 208 1.2       1935.0
168  137       Drzwi prawe przednie  Dacia Sandero szary        387.0
169  138       Drzwi prawe przednie     Opel Corsa szary        413.0
170  139              Miska olejowa           Opel Corsa        532.0
171  140              Wtrysk paliwa           Opel Corsa        330.0

[140 rows x 4 columns]

# Usługi - uzupełnienie

In [26]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [27]:
df_services

      id  id_samochodu  id_klienta  id_pracownika data_zaksiegowania  cena
0      1            45          88              7         2014-04-26   420
1      2            86         167              9         2014-08-14  5580
2      3            91         175              7         2014-08-29  1340
3      4           101         193              8         2014-09-18   660
4      5           104          14              8         2014-09-26   660
..   ...           ...         ...            ...                ...   ...
106  107           518         642              8         2020-08-20   130
107  108           933        1367              4         2020-08-22  3230
108  109           934        1475              9         2020-08-25    70
109  110           936        1478              4         2020-08-30   510
110  111           968        1046              9         2020-12-19  1690

[111 rows x 6 columns]

# Użyte części - uzupełnienie

In [28]:
used_parts_df = parts.merge(df_equipment, on=['nazwa', 'atrybut'])
used_parts_df.rename(columns={'id': 'id_części'}, inplace=True)
used_parts_df['ilość'] = pd.to_numeric(used_parts_df['ilość'])
ids = np.arange(len(used_parts_df))+1
used_parts_df['id'] = ids
used_parts_df = used_parts_df[['id', 'id_usługi', 'id_części', 'ilość']]

In [29]:
used_parts_df

      id id_usługi  id_części  ilość
0      1         1          1      1
1      2         2          2      1
2      3         2          2      1
3      4         3          3      4
4      5         4          4      1
..   ...       ...        ...    ...
167  168       109         87      1
168  169       110        137      1
169  170       111        138      1
170  171       111        139      1
171  172       111        140      1

[172 rows x 4 columns]

# Zakup części

In [30]:
def get_service_date(part_id):
    
    index_used_part = used_parts_df[used_parts_df['id_części'] == part_id].index[0]
    service_date = df_services[df_services['id'] == index_used_part]['data_zaksiegowania']
    return service_date
    

buy_parts_quantity = used_parts_df.groupby(['id_części'])['ilość'].sum().reset_index()
parts_purchase_pd = pd.DataFrame(columns=['id', 'id_części', 'koszt', 'data_zakupu', 'ilość', 'data_zaksięgowania'])

for i in range(len(buy_parts_quantity)):
    part_id = buy_parts_quantity['id_części'][i]
    quantity = buy_parts_quantity['ilość'][i]
    price = df_equipment['cena_części'][df_equipment['id'] == part_id].to_numpy()
    if price > 1000:
        quantity += rng.random() < 0.5
    elif price > 500:
        quantity += rng.choice([0, 1, 2], p=[0.2, 0.5, 0.3])
    else:
        quantity += rng.binomial(25, 0.15)
    total_cost = np.floor(quantity * price * rng.uniform(0.75, 0.95))
    service_date = get_service_date(part_id)

    ##### DO DODANIA
    # generowanie daty zakupu części na podstawie purchase_date
    # generowanie daty zaksięgowania transakcji na podstawie purchase_date
    #####
    
    # row = [i+1, part_id, total_cost, purchase_date, quantity, posting_date]
    # parts_purchase_pd.loc[i] = row

In [31]:
# parts_purchase_pd

# Fixy

data produkcji > data zakupu/sprzedaży/usługi

In [ ]:
# transaction_dates_buy = dates[buy_indexes]
# transaction_dates_sell = dates[sell_indexes]
# transaction_dates_service = dates[service_indexes]

# client_ids_buy = client_ids[buy_indexes]
# client_ids_sell = client_ids[sell_indexes]
# client_ids_service = client_ids[service_indexes]

# car_ids_buy = car_ids[buy_indexes]
# car_ids_sell = car_ids[sell_indexes]
# car_ids_service = car_ids[service_indexes]

In [56]:
production_year = df_samochody['rok_produkcji']

for i in range(len(car_ids_service)):
    if str(transaction_dates_service[i][:4]) < str(production_year[car_ids_service[i]]):
        print(car_ids_service[i])
        print(df_samochody[df_samochody['id'] == car_ids_service[i]])

630
      id  marka      model  liczba_kół  rok_produkcji typ_nadwozia  \
629  630  Cupra  Formentor           4           2004          SUV

     czy_powypadkowy    kolor typ_paliwa  pojemność_silnika skrzynia_biegów  \
629             True  srebrny    Benzyna                3.9    Automatyczna

     liczba_drzwi  liczba_miejsc  czy_dostępny
629             5              5         False