In [1]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [2]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca"])
dismissal_dates = [[] for i in range(len(jobs_list))]
for (i, job) in enumerate(jobs_list):

    begin_times = ["" for j in range(jobs_amount[i])]
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        begin_times[j] = employment_date

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, pesel,
                                                         city, address, phone, email, employment_date,
                                                         None, job, wage]
    dismissal_dates_j = [None for j in range(jobs_amount[i])]
    c = 0
    for j in range(len(begin_times)):
        if len(begin_times) >= 2:
            min_date = min(begin_times[:j] + begin_times[j+1:])
        else:
            min_date = begin_times[j]
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(max(min_date, begin_times[j])), end_date, 1)[0]
            okay = False
            for k in range(len(dismissal_dates_j)):
                if (dismissal_dates_j[k] is not None) and (dismissal_date >=  begin_times[k]) and (dismissal_date <= dismissal_dates_j[k]):
                    okay = True
                    break
                elif dismissal_date >=  begin_times[k]:
                    okay = True
                    break
            if okay:
                dismissal_dates_j[j] = dismissal_date
                c += 1
    dismissal_dates[i] = dismissal_dates_j

diss = []
for i in range(len(dismissal_dates)):
    diss += dismissal_dates[i]
employees_df["data_zwolnienia"] = diss

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [3]:
employees_df

,id,imię,nazwisko,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca
0,1,Jacek,Lewandowski,74040603857,Wrocław,ul. Kwiatowa 49/41,48067696842,jacek.lewandowski@kuba.pl,2014-01-01,None,menadżer,66.0
1,2,Anna,Michalska,93070866948,Wąbrzeźno,ul. Kwiatowa 82,48061212194,anna.michalska@kuba.pl,2014-01-01,None,sprzedawca,51.2
2,3,Anna,Wójciak,94030190907,Wrocław,ul. Światopełka 35/23,48467985886,anna.wojciak@kuba.pl,2014-01-01,None,sprzedawca,49.8
3,4,Andrzej,Koryakin,84011306052,Wołczyn,ul. Brzozowa 24/26,48441075006,andrzej.koryakin@kuba.pl,2014-01-01,2017-06-21,mechanik,57.6
13,5,Jan,Mikalaichyk,70010107794,Gdynia,ul. Oleśnickich 96,48235515352,jan.mikalaichyk@kuba.pl,2014-01-01,None,informatyk,46.0
4,6,Alexandra,Kołek,71100577822,Wrocław,ul. Słoneczna 36/47,48405863327,alexandra.kolek@kuba.pl,2014-08-09,None,mechanik,52.7
5,7,Nataniel,Ostrowski,79070493254,Wrocław,ul. Lotnicza 81/1,48465662238,nataniel.ostrowski@kuba.pl,2015-02-14,2015-07-02,mechanik,46.2
6,8,Mark,Cieśliński,91020187251,Wrocław,ul. Przechodnia 8,48825512454,mark.cieslinski@kuba.pl,2015-04-26,None,mechanik,50.7
7,9,Oliwia,Piotrkowska,95111464603,Wrocław,ul. Z. Wł. Wyszyńskich 56,48885753569,oliwia.piotrkowska@kuba.pl,2015-09-12,None,mechanik,56.2
8,10,Anna,Sieńko,61060555040,Wrocław,ul. Stanisława Moniuszki 90/1,48522881115,anna.sienko@kuba.pl,2015-12-31,None,pomocnik mechanika,43.5
9,11,Jadwiga,Onipko,94122803360,Wrocław,ul. Miodowa 30,48183886281,jadwiga.onipko@kuba.pl,2016-08-02,None,pomocnik mechanika,37.1
10,12,Elżbieta,Bryk,60062375043,Wrocław,ul. Spacerowa 96/37,48926795423,elzbieta.bryk@kuba.pl,2016-08-26,None,diagnosta samochodowy,54.3
11,13,Jacek,Alshammari,81031163436,Wrocław,ul. Bednarska 75/44,48389753195,jacek.alshammari@kuba.pl,2016-12-29,2017-05-14,sprzątający,35.5
12,14,Maciej,Sząszor,85082532153,Elbląg,ul. Zygmunta Chmielewskiego 58/16,48383771133,maciej.szaszor@kuba.pl,2017-03-11,None,sprzątający,39.1
14,15,Wojciech,Ludwiczak,65010605571,Wrocław,ul. Wiosenna 69,48899128910,wojciech.ludwiczak@kuba.pl,2017-08-24,None,informatyk,56.9

In [4]:
employees_df.to_csv("outputs/pracownicy.csv", index=False)

# Transakcje

In [5]:
no_transactions = np.random.poisson(2000)
begining_buy = 20

dates = random_transaction_dates(begining_date, end_date, no_transactions)

In [6]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [7]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)
year_ceil = [int(date[:4])-19 for date in dates[:20]]

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1
            year_ceil.append(int(dates[i][:4])-19)

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
            year_ceil.append(int(dates[i][:4])-19)
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1
            year_ceil.append(int(dates[i][:4])-19)

In [8]:
len(year_ceil), len(pd.unique(client_ids))

(1481, 1481)

In [9]:
year_ceil

[1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 ...]

In [10]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [11]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [12]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [13]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [14]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [15]:
year_floor = 1960
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man([year_floor, year_ceil[i]])
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_floor, year_ceil[i]))
        sex = 'M'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man([year_floor, year_ceil[i]])
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_floor, year_ceil[i]))
        sex = 'K'
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
                             
clients_df.astype({"PESEL": str})

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Bogusława,Kuliś,K,94020764897,Tczew,ul. Zaciszna 6/35,False,48202140484,kulis19948@o2.pl
1,2,Brygida,Rusin,K,63012928612,Ełk,ul. Bydgoska 73/35,False,48585155619,rusin3@gmail.com
2,3,Rafał,Ścibior,M,94122985974,Wrocław,ul. Kątowa 82/48,False,48515619546,scibior1994@gmail.com
3,4,Maciej,Przybyła,M,62030129935,Włocławek,ul. Odrodzenia 52/20,False,48601713059,mac.prz62@wp.pl
4,5,Andrzej,Opalach,M,67070620558,Bielsko-Biała,ul. Wilcza 62,True,48073360407,opalach19672@o2.pl
...,...,...,...,...,...,...,...,...,...,...
1476,1477,Mykhailo,Chmielowiec,M,93102937255,Chełm,ul. Komandosów 56/51,False,48021451338,m-chmi@gmail.com
1477,1478,Katarzyna,Wiszkarów,K,90082054013,Wrocław,ul. Młynarska 30/45,False,48398850871,kat.wiszka1990@wp.pl
1478,1479,Mateusz,Eliasz,M,None,Wrocław,ul. Marmurowa 53/16,False,48155630794,e.ma2118@protonmail.com
1479,1480,Maciej,Suski,M,82062591911,Wrocław,ul. Romualda Traugutta 61,False,48853471844,macsus@o2.pl
1480,1481,Leo,Berezhnoy,M,87071057313,Szubin,ul. Słoneczna 53/7,False,48157848077,rb2j8pa4fn4o3@interia.pl

In [16]:
clients_with_lc = clients_df[clients_df["karta_lojalnościowa"]]["id"].values

loyalty_card_dates = [() for i in range(len(clients_with_lc))]
for (i, client) in enumerate(clients_with_lc):
    loyalty_card_dates[i] = client, dates[np.where(client_ids == client)[0][2]]

In [17]:
clients_df

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Bogusława,Kuliś,K,94020764897,Tczew,ul. Zaciszna 6/35,False,48202140484,kulis19948@o2.pl
1,2,Brygida,Rusin,K,63012928612,Ełk,ul. Bydgoska 73/35,False,48585155619,rusin3@gmail.com
2,3,Rafał,Ścibior,M,94122985974,Wrocław,ul. Kątowa 82/48,False,48515619546,scibior1994@gmail.com
3,4,Maciej,Przybyła,M,62030129935,Włocławek,ul. Odrodzenia 52/20,False,48601713059,mac.prz62@wp.pl
4,5,Andrzej,Opalach,M,67070620558,Bielsko-Biała,ul. Wilcza 62,True,48073360407,opalach19672@o2.pl
...,...,...,...,...,...,...,...,...,...,...
1476,1477,Mykhailo,Chmielowiec,M,93102937255,Chełm,ul. Komandosów 56/51,False,48021451338,m-chmi@gmail.com
1477,1478,Katarzyna,Wiszkarów,K,90082054013,Wrocław,ul. Młynarska 30/45,False,48398850871,kat.wiszka1990@wp.pl
1478,1479,Mateusz,Eliasz,M,None,Wrocław,ul. Marmurowa 53/16,False,48155630794,e.ma2118@protonmail.com
1479,1480,Maciej,Suski,M,82062591911,Wrocław,ul. Romualda Traugutta 61,False,48853471844,macsus@o2.pl
1480,1481,Leo,Berezhnoy,M,87071057313,Szubin,ul. Słoneczna 53/7,False,48157848077,rb2j8pa4fn4o3@interia.pl

In [18]:
clients_df.to_csv("outputs/klienci.csv", index=False)

In [19]:
np.sum(clients_df['karta_lojalnościowa'])

np.int64(78)

In [20]:
np.sum(pd.isna(clients_df["PESEL"]))

np.int64(66)

# auta

In [21]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [22]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, hp, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'moc', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [23]:
df_samochody = create_car_table(max(car_ids))

In [24]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,moc,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,Renault,Megane,4,2002,Sedan,False,biały,Benzyna,1.8,116,Manualna,3,5,False
1,2,Opel,Corsa,4,2011,Kombi,False,niebieski,Benzyna,1.4,95,Manualna,5,5,False
2,3,smart,forTwo,4,2004,SUV,False,czarny,Benzyna,1.1,71,Automatyczna,5,5,False
3,4,Yamaha,FZ16,2,2011,,False,niebieski,Benzyna,0.3,51,Manualna,0,1,False
4,5,Bajaj,Pulsar 180,2,2008,,True,biały,Benzyna,0.4,56,Manualna,0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,979,smart,forTwo,4,2003,Kombi,False,niebieski,Benzyna,0.9,71,Automatyczna,5,5,False
979,980,Volkswagen,T6 Multivan,4,2017,SUV,True,szary,Diesel,3.4,204,Automatyczna,5,5,True
980,981,Ford,Ka/Ka+,4,2014,SUV,False,szary,Benzyna,1.1,69,Manualna,5,5,False
981,982,Volkswagen,Golf,4,2010,SUV,False,szary,Diesel,1.6,105,Manualna,5,5,False
982,983,Audi,A6 allroad,4,2005,Kombi,False,niebieski,Diesel,4.4,272,Automatyczna,3,5,False

In [25]:
df_samochody.to_csv("outputs/samochody.csv", index=False)

In [26]:
pd.unique(df_samochody["skrzynia_biegów"])

array(['Manualna', 'Automatyczna'], dtype=object)

# Usługi

In [27]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksięgowania'] = transaction_dates_service

# Zakup samochodów

In [28]:
def car_purchase_price(hp, yr_bought, yr_prod, post_acc):
    return np.round(hp * 1000 / np.sqrt(int(yr_bought) - int(yr_prod) + 1) * (0.75 if post_acc else 1) * rng.uniform(0.8, 1.2), -2)

In [29]:
buy_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_buy))
buy_ids = np.arange(len(transaction_dates_buy)) + 1

df_buy = pd.DataFrame()
df_buy['id'] = buy_ids
df_buy['id_samochodu'] = car_ids_buy
df_buy['id_klienta'] = client_ids_buy
df_buy['id_pracownika'] = buy_employee
df_buy['data_zaksięgowania'] = transaction_dates_buy

In [30]:

service_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_services[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
service_date_fix['data_zaksięgowania'] = service_date_fix['data_zaksięgowania'].str[:4]

buy_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_buy[['id_samochodu', 'data_zaksięgowania']], how='right', left_on='id', right_on='id_samochodu')
buy_date_fix['data_zaksięgowania'] = buy_date_fix['data_zaksięgowania'].str[:4]

for i in range(len(buy_date_fix)):
    if str(buy_date_fix['rok_produkcji'].loc()[i]) >= str(buy_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = buy_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

for i in range(len(service_date_fix)):
    if str(service_date_fix['rok_produkcji'].loc()[i]) >= str(service_date_fix['data_zaksięgowania'].loc()[i]):
        car_index = service_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

C:\Users\oskar.LAPTOP-KARLNF81\AppData\Local\Temp\ipykernel_14752\3526569416.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2007' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

In [31]:
purchase_prices = []
for j, i in enumerate(car_ids_buy):
    row = df_samochody.loc()[i-1]
    year_bought = transaction_dates_buy[j][:4]
    purchase_prices.append(car_purchase_price(row['moc'], year_bought, row['rok_produkcji'], row['czy_powypadkowy']))

df_buy['cena'] = purchase_prices

In [32]:
df_buy

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania     cena
0      1             1           1              3         2014-01-02  27200.0
1      2             2           2              2         2014-01-02  56600.0
2      3             3           3              2         2014-01-03  17800.0
3      4             4           4              2         2014-01-03  28900.0
4      5             5           5              2         2014-01-04  16900.0
..   ...           ...         ...            ...                ...      ...
935  936           978         804              3         2017-12-27  48700.0
936  937           979        1478              3         2017-12-27  18900.0
937  938           980         416              3         2017-12-27  43500.0
938  939           981        1393              3         2017-12-28  30800.0
939  940           983         900              2         2017-12-29  68500.0

[940 rows x 6 columns]

In [33]:
df_buy.to_csv("outputs/zakup_samochodu.csv", index=False)

# Sprzedaż samochodów

In [34]:
sell_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_sell))
sell_ids = np.arange(len(transaction_dates_sell)) + 1

df_sell = pd.DataFrame()
df_sell['id'] = sell_ids
df_sell['id_samochodu'] = car_ids_sell
df_sell['id_klienta'] = client_ids_sell
df_sell['id_pracownika'] = sell_employee
df_sell['data_zaksięgowania'] = transaction_dates_sell

In [35]:
loyalty_card_customer_ids = [el[0] for el in loyalty_card_dates]
loyalty_card_dates_sep = [el[1] for el in loyalty_card_dates]

In [36]:
sell_prices = []
for i in car_ids_sell:
    b_price = df_buy[df_buy['id_samochodu'] == i]['cena'].values[0]
    sell_prices.append(np.round(b_price * rng.uniform(1.2, 1.5), -2))

for i in range(len(sell_ids)):
    customer_id = df_sell.loc()[i]['id_klienta']
    if clients_df[clients_df['id'] == customer_id]['karta_lojalnościowa'].bool() and customer_id in loyalty_card_customer_ids:
        date_index = loyalty_card_customer_ids.index(customer_id)
        if loyalty_card_dates_sep[date_index] < df_sell.loc()[i]['data_zaksięgowania']:
            sell_prices[i] *= 0.97
            #print(i)

sell_installments = []
for i in range(len(sell_ids)):
    if sell_prices[i] > 80000:
        inst_prob = [0.1, 0.2, 0.3, 0.4]
    else:
        inst_prob = [0.4, 0.3, 0.2, 0.1]
    installments = rng.choice([1, 6, 12, 18], p=inst_prob)
    if installments == 6:
        sell_prices[i] *= 1.02
    elif installments == 12:
        sell_prices[i] *= 1.04
    elif installments == 18:
        sell_prices[i] *= 1.06
    sell_installments.append(installments)
#print(sell_installments)

df_sell['cena'] = sell_prices
df_sell['liczba_rat'] = sell_installments
df_sell = df_sell[['id', 'id_samochodu', 'id_klienta', 'id_pracownika', 'cena', 'liczba_rat', 'data_zaksięgowania']]

C:\Users\oskar.LAPTOP-KARLNF81\AppData\Local\Temp\ipykernel_14752\1822833189.py:8: FutureWarning: Series.bool is now deprecated and will be removed in future version of pandas
  if clients_df[clients_df['id'] == customer_id]['karta_lojalnościowa'].bool() and customer_id in loyalty_card_customer_ids:

In [37]:
df_sell

,id,id_samochodu,id_klienta,id_pracownika,cena,liczba_rat,data_zaksięgowania
0,1,17,21,2,78000.0,1,2014-01-16
1,2,16,22,2,34112.0,12,2014-01-16
2,3,6,23,2,58344.0,6,2014-01-17
3,4,9,24,3,174928.0,12,2014-01-17
4,5,7,25,2,39728.0,12,2014-01-17
...,...,...,...,...,...,...,...
930,931,978,78,3,62628.0,6,2017-12-28
931,932,983,161,3,97760.0,12,2017-12-29
932,933,979,638,3,29016.0,12,2017-12-30
933,934,981,1480,2,39678.0,6,2017-12-30
934,935,975,1481,3,151898.0,18,2017-12-30

In [38]:
np.sum(df_sell["cena"] == float('inf')) # wychodzą inf wiec trzeba poprawić

np.int64(0)

In [39]:
df_sell.to_csv("outputs/sprzedaż_samochodu.csv", index=False)

# Użyte części

In [40]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(np.int64(33), array([46])), (np.int64(37), array([60,  4])), (np.int64(41), array([4])), (np.int64(68), array([51, 60])), (np.int64(78), array([60])), (np.int64(89), array([56])), (np.int64(92), array([ 0, 41])), (np.int64(96), array([55, 38])), (np.int64(98), array([12])), (np.int64(100), array([22])), (np.int64(101), array([27])), (np.int64(105), array([29])), (np.int64(111), array([60])), (np.int64(119), array([19])), (np.int64(121), array([44])), (np.int64(127), array([17])), (np.int64(131), array([20])), (np.int64(134), array([17, 35, 52])), (np.int64(140), array([26, 35, 48])), (np.int64(142), array([54])), (np.int64(151), array([58, 46, 52])), (np.int64(159), array([56])), (np.int64(160), array([37, 13])), (np.int64(128), array([27])), (np.int64(180), array([25])), (np.int64(183), array([36])), (np.int64(184), array([18])), (np.int64(191), array([21])), (np.int64(195), array([43])), (np.int64(203), array([61])), (np.int64(207), array([55])), (np.int64(211), array([13, 27])), (np.int64(229), array([58])), (np.int64(233), array([56])), (np.int64(243), array([23, 21])), (np.int64(248), array([62])), (np.int64(249), array([23])), (np.int64(256), array([21])), (np.int64(268), array([2])), (np.int64(272), array([15])), (np.int64(273), array([63])), (np.int64(289), array([57])), (np.int64(294), array([57, 51])), (np.int64(303), array([23])), (np.int64(307), array([48])), (np.int64(265), array([41])), (np.int64(312), array([31, 20])), (np.int64(324), array([18, 25])), (np.int64(341), array([14])), (np.int64(345), array([58])), (np.int64(351), array([6, 7])), (np.int64(358), array([17, 15])), (np.int64(367), array([57, 61, 52])), (np.int64(371), array([ 1, 16])), (np.int64(381), array([36])), (np.int64(390), array([8])), (np.int64(401), array([47, 45])), (np.int64(415), array([43, 42, 58])), (np.int64(427), array([37,  4])), (np.int64(433), array([23])), (np.int64(438), array([48])), (np.int64(439), array([12, 62])), (np.int64(455), array([54])), (np.int64(475), array([28])), (np.int64(487), array([55,  1, 12])), (np.int64(490), array([48, 44])), (np.int64(502), array([35])), (np.int64(536), array([12])), (np.int64(550), array([44, 18])), (np.int64(551), array([33, 18])), (np.int64(558), array([24, 16, 38])), (np.int64(561), array([17])), (np.int64(563), array([16, 10])), (np.int64(574), array([39, 54])), (np.int64(587), array([51])), (np.int64(602), array([17])), (np.int64(628), array([56, 60])), (np.int64(654), array([25, 39])), (np.int64(661), array([43, 36, 54])), (np.int64(667), array([29])), (np.int64(677), array([4])), (np.int64(692), array([54, 56, 51])), (np.int64(696), array([ 3, 34])), (np.int64(734), array([3])), (np.int64(747), array([59, 34, 30])), (np.int64(752), array([48, 33])), (np.int64(391), array([47])), (np.int64(756), array([44, 33, 10])), (np.int64(768), array([9])), (np.int64(770), array([49, 26])), (np.int64(776), array([ 3, 23])), (np.int64(777), array([14])), (np.int64(786), array([15, 28])), (np.int64(788), array([40, 39, 51])), (np.int64(789), array([ 3, 15])), (np.int64(811), array([54, 22])), (np.int64(814), array([ 2, 26])), (np.int64(821), array([ 6, 35])), (np.int64(831), array([50])), (np.int64(837), array([61, 29,  6])), (np.int64(839), array([42,  3,  0])), (np.int64(850), array([43])), (np.int64(858), array([47,  5])), (np.int64(866), array([21, 41])), (np.int64(875), array([30,  5])), (np.int64(876), array([28,  4])), (np.int64(885), array([49, 49])), (np.int64(889), array([ 0, 20])), (np.int64(892), array([23])), (np.int64(900), array([50])), (np.int64(913), array([11])), (np.int64(919), array([24,  8, 40])), (np.int64(936), array([0])), (np.int64(946), array([23, 15])), (np.int64(949), array([10])), (np.int64(951), array([31])), (np.int64(966), array([24])), (np.int64(967), array([ 7, 17])), (np.int64(968), array([2])), (np.int64(969), array([36])), (np.int64(974), array([53])), (np.int64(982), array([37, 11]))]

In [41]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id-1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['nazwa', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['nazwa', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [42]:
parts

                      nazwa                      atrybut  cena id_usługi ilość
0                    Tłumik                                200         1     1
1    Dźwignia zmiany biegów                     Fiat 500    65         2     1
2                     Felga                 R16 czerwony    63         2     4
3                     Felga                   R17 czarny    87         3     4
4            Pompa paliwowa           Volkswagen Touareg  1209         4     1
..                      ...                          ...   ...       ...   ...
188                  Kratka  Mercedes-Benz C 220 srebrny   478       119     1
189        Klocek hamulcowy          Mercedes-Benz E 400    54       120     4
190       Zespół układu LPG                                500       121     1
191           Pedał hamulca              Volkswagen Golf    67       122     1
192       Drzwi prawe tylne        Volkswagen Golf szary   509       122     1

[193 rows x 5 columns]

# Wyposażenie

In [43]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['nazwa']
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['cena_części'] = equipment_price.astype(float)

In [44]:
df_equipment

      id                   nazwa                      atrybut  cena_części
0      1                  Tłumik                                     200.0
1      2  Dźwignia zmiany biegów                     Fiat 500         65.0
2      3                   Felga                 R16 czerwony         63.0
3      4                   Felga                   R17 czarny         87.0
4      5          Pompa paliwowa           Volkswagen Touareg       1209.0
..   ...                     ...                          ...          ...
187  156              Alternator              Peugeot Partner        159.0
188  157                  Kratka  Mercedes-Benz C 220 srebrny        478.0
189  158        Klocek hamulcowy          Mercedes-Benz E 400         54.0
190  159       Zespół układu LPG                                     500.0
192  160       Drzwi prawe tylne        Volkswagen Golf szary        509.0

[160 rows x 4 columns]

# Usługi - uzupełnienie

In [45]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [46]:
df_services

      id  id_samochodu  id_klienta  id_pracownika data_zaksięgowania  cena
0      1            33          61              4         2014-02-16   270
1      2            37          69              6         2014-02-20   440
2      3            41          76              8         2014-02-28   480
3      4            68         127              7         2014-04-11  2260
4      5            78         145              8         2014-04-24   150
..   ...           ...         ...            ...                ...   ...
117  118           967        1468              8         2017-12-14   230
118  119           968        1469              6         2017-12-14   660
119  120           969         959              6         2017-12-15   300
120  121           974         538              9         2017-12-19   690
121  122           982        1479              9         2017-12-29   790

[122 rows x 6 columns]

In [47]:
df_services.to_csv("outputs/usługi.csv", index=False)

# Użyte części - uzupełnienie

In [48]:
used_parts_df = parts.merge(df_equipment, on=['nazwa', 'atrybut'])
used_parts_df.rename(columns={'id': 'id_części'}, inplace=True)
used_parts_df['ilość'] = pd.to_numeric(used_parts_df['ilość'])
ids = np.arange(len(used_parts_df))+1
used_parts_df['id'] = ids
used_parts_df = used_parts_df[['id', 'id_usługi', 'id_części', 'ilość']]

In [49]:
used_parts_df

      id id_usługi  id_części  ilość
0      1         1          1      1
1      2         2          2      1
2      3         2          3      4
3      4         3          4      4
4      5         4          5      1
..   ...       ...        ...    ...
188  189       119        157      1
189  190       120        158      4
190  191       121        159      1
191  192       122         76      1
192  193       122        160      1

[193 rows x 4 columns]

In [50]:
used_parts_df.to_csv("outputs/użyte_części.csv", index=False)

# Zakup części

In [51]:
def get_service_date(part_id):
    
    index_used_part = used_parts_df[used_parts_df['id_części'] == part_id].index[0]
    service_date = df_services[df_services['id'] == index_used_part]['data_zaksięgowania']
    return service_date
    

buy_parts_quantity = used_parts_df.groupby(['id_części'])['ilość'].sum().reset_index()
parts_purchase_pd = pd.DataFrame(columns=['id', 'id_części', 'koszt', 'ilość'])

for i in range(len(buy_parts_quantity)):
    part_id = buy_parts_quantity['id_części'][i]
    quantity = buy_parts_quantity['ilość'][i]
    price = df_equipment['cena_części'][df_equipment['id'] == part_id].to_numpy()
    if price < 300:
        quantity += rng.random() < 0.3
    # elif price > 500:
    #     quantity += rng.choice([0, 1, 2], p=[0.2, 0.5, 0.3])
    # else:
    #     quantity += rng.binomial(25, 0.15)
    total_cost = np.floor(quantity * price * rng.uniform(0.75, 0.95))[0]
    service_date = get_service_date(part_id)
    
    row = [int(i+1), int(part_id), total_cost, int(quantity)]
    parts_purchase_pd.loc[i] = row

In [52]:
parts_purchase_pd

        id  id_części   koszt  ilość
0      1.0        1.0   494.0    3.0
1      2.0        2.0   105.0    2.0
2      3.0        3.0   238.0    4.0
3      4.0        4.0   335.0    5.0
4      5.0        5.0  1026.0    1.0
..     ...        ...     ...    ...
155  156.0      156.0   120.0    1.0
156  157.0      157.0   396.0    1.0
157  158.0      158.0   198.0    4.0
158  159.0      159.0   460.0    1.0
159  160.0      160.0   415.0    1.0

[160 rows x 4 columns]

In [53]:
parts_purchase_pd.to_csv("outputs/zakup_części.csv", index=False)

In [54]:
df_equipment = df_equipment[['id', 'nazwa', 'atrybut']]

In [55]:
df_equipment.to_csv("outputs/wyposażenie.csv", index=False)