In [419]:
import numpy as np
import pandas as pd
from transaction_dates import *
from imiona import *
from collections import Counter
from samochody import *
from czesci import *

# Pracownicy

In [420]:
birth_dates_lims = [1960, 1995]
begining_date = "2014-01-01"
end_date = "2018-01-01"

def rind(a, b):
    return np.random.randint(a, b)

jobs_list = np.array(["menadżer", "sprzedawca", "mechanik", "pomocnik mechanika", 
                       "diagnosta samochodowy", "sprzątający", "informatyk", "księgowy"])
jobs_amount = np.array([1, rind(2, 5), rind(3, 6), rind(1, 3),
                        rind(1, 3), rind(1, 3), rind(1, 3), rind(0, 2)])
fixed_jobs = np.array([0, 1, 2, np.sum(jobs_amount[:2]), np.sum(jobs_amount[0:6])]) # zaczynamy z szefem, dwoma sprzedawcami i mechanikiem

employment_dates = random_transaction_dates(begining_date, end_date, np.sum(jobs_amount))
employment_dates[fixed_jobs] = begining_date  

wages_lims = [(60, 75), (45, 60), (45, 60), (35, 45),
              (47, 60), (35, 40), (40, 60), (40, 53)]

employees_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "pesel",
                                     "miasto", "adres", "telefon", "email", "data_zatrudnienia",
                                     "data_zwolnienia", "stanowisko", "płaca[zł/h]"])
dismissal_dates = [[] for i in range(len(jobs_list))]
for (i, job) in enumerate(jobs_list):

    begin_times = ["" for j in range(jobs_amount[i])]
    for j in range(jobs_amount[i]):
        employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
        if np.random.rand() <= 0.5:
            first_name, last_name = random_name_man()
            pesel, birth_date = random_pesel_date_man(birth_dates_lims)
            sex = "M"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        else:
            first_name, last_name = random_name_woman()
            pesel, birth_date = random_pesel_date_woman(birth_dates_lims)
            sex = "K"
            city = random_city(prob=0.7)
            address = random_street()
            phone = random_phone()
            #email = random_email(first_name, last_name, birth_date[-4:])
            email = employee_email(first_name, last_name)
            employment_date = employment_dates[np.sum(jobs_amount[:i]) + j]
            wage = np.random.choice(np.arange(wages_lims[i][0], wages_lims[i][1], 0.1))
        begin_times[j] = employment_date
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(employment_date), end_date, 1)[0]
            c += 1
        else:
            dismissal_date = None

        employees_df.loc[np.sum(jobs_amount[:i]) + j] = [0, first_name, last_name, pesel,
                                                         city, address, phone, email, employment_date,
                                                         dismissal_date, job, wage]
    dismissal_dates_j = [None for j in range(jobs_amount[i])]
    c = 0
    for j in range(len(begin_times)):
        if len(begin_times) >= 2:
            min_date = min(begin_times[:j] + begin_times[j+1:])
        else:
            min_date = begin_times[j]
        if np.random.rand() <= (jobs_amount[i]-1)/10 * 1/(1+c):
            dismissal_date = random_transaction_dates(str(max(min_date, begin_times[j])), end_date, 1)[0]
            okay = False
            for k in range(len(dismissal_dates_j)):
                if (dismissal_dates_j[k] is not None) and (dismissal_date >=  begin_times[k]) and (dismissal_date <= dismissal_dates_j[k]):
                    okay = True
                    break
                elif dismissal_date >=  begin_times[k]:
                    okay = True
                    break
            if okay:
                dismissal_dates_j[j] = dismissal_date
                c += 1
    dismissal_dates[i] = dismissal_dates_j

diss = []
for i in range(len(dismissal_dates)):
    diss += dismissal_dates[i]
employees_df["data_zwolnienia"] = diss

employees_df = employees_df.sort_values(by="data_zatrudnienia")   
employees_df["id"] =  np.arange(1, len(employees_df)+1)

In [421]:
employees_df

,id,imię,nazwisko,pesel,miasto,adres,telefon,email,data_zatrudnienia,data_zwolnienia,stanowisko,płaca[zł/h]
0,1,Wanda,Rzeźnik,73011254649,Wrocław,ul. Gęsia 48,48102088113,wanda.rzeznik@kuba.pl,2014-01-01,None,menadżer,62.0
1,2,Maria,Zawodna,74052249368,Wrocław,ul. Wypoczynkowa 78/24,48145556416,maria.zawodna@kuba.pl,2014-01-01,2016-08-09,sprzedawca,57.0
2,3,Krystyna,Woźnica,68022332323,Wrocław,ul. Urocza 89/6,48097683001,krystyna.woznica@kuba.pl,2014-01-01,None,sprzedawca,47.8
3,4,Mirosław,Świerc,75120243972,Wrocław,ul. Przęsłowa 57/46,48629335383,miroslaw.swierc@kuba.pl,2014-01-01,None,mechanik,46.6
11,5,Piotr,Halushka,83042812457,Ciechanów,ul. Sokoła 34/4,48602712923,piotr.halushka@kuba.pl,2014-01-01,None,informatyk,42.1
4,6,Zdzisław,Błaszczak,94020519879,Chrzanów,ul. Stefana Okrzei 40/12,48332253213,zdzislaw.blaszczak@kuba.pl,2016-05-10,None,mechanik,47.3
5,7,Monika,Grzybowska,67013184761,Wrocław,ul. Kościelna 97/41,48274117297,monika.grzybowska@kuba.pl,2016-10-27,None,mechanik,58.4
6,8,Barbara,Świniarska,72021074829,Wrocław,ul. Sokołowska 28/38,48066212055,barbara.swiniarska@kuba.pl,2016-12-04,2017-01-21,mechanik,59.5
7,9,Tadeusz,Różycki,72040938971,Prudnik,ul. Gorajowicka 82,48292972808,tadeusz.rozycki@kuba.pl,2016-12-17,None,mechanik,53.8
8,10,Anna,Magda,71010886328,Wrocław,Aleja Róż 80/48,48897938705,anna.magda@kuba.pl,2016-12-27,None,pomocnik mechanika,44.3
9,11,Sylwia,Grabska,73052004681,Wrocław,ul. Stawowa 70/12,48705269177,sylwia.grabska@kuba.pl,2017-01-04,None,diagnosta samochodowy,53.0
10,12,Elżbieta,Welenc,91112553904,Wrocław,ul. Moniuszki 80,48774858983,elzbieta.welenc@kuba.pl,2017-09-20,None,sprzątający,36.8

In [422]:
employees_df.to_csv("outputs/pracownicy.csv", index=False)

# Transakcje

In [423]:
no_transactions = 2000
begining_buy = 20

dates = random_transaction_dates("2014-01-01", "2020-12-31", no_transactions)

In [424]:
client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions

j = 1
for i in range(len(dates)):
    prob = i/(2*len(dates))
    if np.random.rand() <= prob:
        client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
    else:
        client_ids[i] = j
        j += 1

In [425]:
car_ids = np.zeros(len(dates), dtype=int) # array with car ids for table with transactions
car_ids[:begining_buy] = np.arange(1, 21)

client_ids = np.zeros(len(dates), dtype=int) # array with client ids for table with transactions
client_ids[:begining_buy] = np.arange(1, 21)

transactions_types = np.zeros(len(dates))

clients_cars = {}
our_cars = np.arange(1, 21).tolist()

jp = 21
jc = 21
for i in range(20, len(dates)):
    weights = np.array([1.5*len(clients_cars)/max(1, len(our_cars)) , len(our_cars)*50, len(clients_cars)/(5*max(1, len(our_cars)))])
    weights = weights/np.sum(weights)
    transaction_type = np.random.choice(np.arange(3), p=weights) # 0-buy, 1-sell, 2-service
    transactions_types[i] = transaction_type
    if transaction_type == 0:
        prob = i/(2*len(dates)) 
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars and np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                clients_cars[client_ids[i]].remove(car_ids[i])
            else:
                car_ids[i] = jc
                jc += 1
            our_cars.append(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            our_cars.append(car_ids[i])
            jp += 1
            jc += 1

    if transaction_type == 1:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            car_ids[i] = np.random.choice(our_cars)
            if client_ids[i] in clients_cars:
                clients_cars[client_ids[i]].append(car_ids[i])
            else:
                clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
        else:
            client_ids[i] = jp
            car_ids[i] = np.random.choice(our_cars)
            clients_cars[client_ids[i]] = [car_ids[i]]
            our_cars.remove(car_ids[i])
            jp += 1
    
    if transaction_type == 2:
        prob = i/(2*len(dates))
        if np.random.rand() <= prob: #client that already is in database
            client_ids[i] = np.random.choice(np.unique(client_ids[:i]))
            if client_ids[i] in clients_cars:
                if np.random.rand() <= 0.6 and len(clients_cars[client_ids[i]]) >= 1:
                    car_ids[i] = np.random.choice(clients_cars[client_ids[i]])
                else:
                    car_ids[i] = jc
                    clients_cars[client_ids[i]].append(car_ids[i])
                    jc += 1
            else:
                car_ids[i] = jc
                clients_cars[client_ids[i]] = [car_ids[i]]
                jc += 1
        else:
            client_ids[i] = jp
            car_ids[i] = jc
            clients_cars[client_ids[i]] = [car_ids[i]]
            jp += 1
            jc += 1

In [426]:
buy_indexes = np.where(transactions_types == 0)
sell_indexes = np.where(transactions_types == 1)
service_indexes = np.where(transactions_types == 2)

In [427]:
transaction_dates_buy = dates[buy_indexes]
transaction_dates_sell = dates[sell_indexes]
transaction_dates_service = dates[service_indexes]

client_ids_buy = client_ids[buy_indexes]
client_ids_sell = client_ids[sell_indexes]
client_ids_service = client_ids[service_indexes]

car_ids_buy = car_ids[buy_indexes]
car_ids_sell = car_ids[sell_indexes]
car_ids_service = car_ids[service_indexes]

In [428]:
buy_employee_id = np.zeros(len(transaction_dates_buy))

for i in range(len(transaction_dates_buy)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_buy[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_buy[i]
    buy_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [429]:
sell_employee_id = np.zeros(len(transaction_dates_sell))

for i in range(len(transaction_dates_sell)):
    filter1 = employees_df["stanowisko"] == "sprzedawca"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_sell[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_sell[i]
    sell_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

In [430]:
service_employee_id = np.zeros(len(transaction_dates_service))

for i in range(len(transaction_dates_service)):
    filter1 = employees_df["stanowisko"] == "mechanik"
    filter2 = employees_df["data_zatrudnienia"] <= transaction_dates_service[i]
    filter3 = pd.notna(employees_df["data_zwolnienia"])
    filter4 = employees_df["data_zwolnienia"] < transaction_dates_service[i]
    service_employee_id[i] = np.random.choice(employees_df['id'][filter1 & filter2 & ~(filter3 & filter4)])

# klienci

In [431]:
year_lims = [1970, 2010]
transaction_counter = Counter(client_ids)

clients_df = pd.DataFrame(columns=["id", "imię", "nazwisko", "płeć", "PESEL", "miasto", "adres", "karta_lojalnościowa", "telefon", "email"])
unique_clients = np.unique(client_ids)
for i in range(len(unique_clients)):
    if np.random.rand() <= 0.5: # chłop probability
        id_ = unique_clients[i]
        first_name, last_name = random_name_man()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man(year_lims)
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_lims[0], year_lims[1]))
        sex = "M"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]
    else:
        id_ = unique_clients[i]
        first_name, last_name = random_name_woman()
        if id_ in client_ids_buy or id_ in client_ids_sell:
            pesel, birth_date = random_pesel_date_man(year_lims)
            year = birth_date[-4:]
        else:
            pesel = None
            birth_date = None
            year = str(np.random.randint(year_lims[0], year_lims[1]))
        sex = "F"
        city = random_city()
        address = random_street()
        if transaction_counter[id_] >= 3:
            loyalty_card = True
        else:
            loyalty_card = False
        phone = random_phone()
        email = random_email(first_name, last_name, year)
        clients_df.loc[i] = [unique_clients[i], first_name, last_name, sex, pesel, city, address, loyalty_card, phone, email]

In [432]:
clients_df

,id,imię,nazwisko,płeć,PESEL,miasto,adres,karta_lojalnościowa,telefon,email
0,1,Grażyna,Sukhomlyn,F,78043077718,Gdańsk,ul. Sikorcza 93/7,False,48319400344,sukho_grazyna@outlook.com
1,2,Piotr,Dudek,M,95031464534,Wrocław,ul. Leszczynowa 90,False,48511591645,lh3nm2oc8i5z60f@opayq.com
2,3,Weronika,Liashenko,F,91030847716,Wrocław,ul. Srebrna 66,False,48546886906,w_liashenko1991@vp.pl
3,4,Marta,Abłażewicz,F,73051136673,Zakopane,ul. Wyzwolenia 4/48,True,48427812099,m-ablazewicz@wp.pl
4,5,Jan,Nieśmiałek,M,81072593337,Wrocław,ul. Rakoszycka 23/33,False,48640309961,niesmialek8@wp.pl
...,...,...,...,...,...,...,...,...,...,...
1514,1515,Emil,Rymsza,M,None,Łódź,ul. Henryka Sienkiewicza 58/30,False,48940166377,e-rymsz@onet.pl
1515,1516,Zofia,Miszczyk,F,97122256015,Kędzierzyn-Koźle,ul. Motławska 53/2,False,48821131725,zof.mis@gmail.com
1516,1517,Oleh,Łubiarz,M,96072982311,Grodków,ul. Stroma 19,False,48474446096,olubiarz6577@wp.pl
1517,1518,Kewin,Kubiak,M,71013012157,Lublin,ul. Jarzębinowa 6/45,False,48959938902,kew_k1971@o2.pl
1518,1519,Jerzy,Buczek,M,90032310914,Opole,ul. Kręta 91/19,False,48382847943,buczek907@gmail.com

In [433]:
clients_df.to_csv("outputs/klienci.csv", index=False)

In [434]:
np.sum(clients_df['karta_lojalnościowa'])

64

In [435]:
np.sum(pd.isna(clients_df["PESEL"]))

60

# auta

In [436]:
rng = np.random.default_rng()

data_car, data_bike = get_car_data()
make_list_car, model_list_car, car_weights = get_car_weights()
make_list_bike, model_list_bike, bike_weights = get_bike_weights()

In [437]:
def create_car(i):

    is_car = rng.random() < 0.9
    colors = np.array(('czarny', 'biały', 'szary', 'srebrny', 'niebieski', 'czerwony', 'brązowy', 'złoty', 'żółty', 'inny'))
    colors_weights = np.array((0.22, 0.19, 0.18, 0.15, 0.10, 0.09, 0.03, 0.02, 0.01, 0.01))

    if is_car:
        index = rng.choice(len(make_list_car), p=car_weights)
        make, model = make_list_car[index], model_list_car[index]
        weights = data_car[(data_car['make'] == make) & (data_car['model'] == model)]
        body = np.array(('SUV', 'Hatchback', 'Sedan', 'Kombi', 'Coupe', 'Van', 'Minivan', 'Kabriolet'))
        body_weights = np.array((0.25, 0.25, 0.23, 0.17, 0.06, 0.03, 0.009, 0.001))
    else:
        index = rng.choice(len(make_list_bike), p=bike_weights)
        make, model = make_list_bike[index], model_list_bike[index]
        weights = False
        body = False
        body_weights = False

    wheels = 4 if is_car else 2
    year = get_year()
    gear = get_gear(weights, is_car)
    fuel = get_fuel(weights, is_car)
    post_accident = get_post_accident()
    hp = get_hp(weights, is_car)
    color = get_color(colors, colors_weights)
    body_type = get_body_type(body, body_weights, is_car)
    engine_capacity = get_engine_capacity(hp, is_car)
    doors = get_doors(is_car)
    seats = get_num_of_seats(is_car)
    available = i+1 in our_cars
    
    return [i+1, make, model, wheels, year, body_type, post_accident, color, fuel, engine_capacity, hp, gear, doors, seats, available]


def create_car_table(n):
    
    df = pd.DataFrame(columns=['id', 'marka', 'model', 'liczba_kół', 'rok_produkcji', 'typ_nadwozia', 'czy_powypadkowy', 'kolor', 'typ_paliwa', 'pojemność_silnika', 'moc', 'skrzynia_biegów', 'liczba_drzwi', 'liczba_miejsc', 'czy_dostępny'])
    for i in range(n):
        row = create_car(i)
        df.loc[i] = row
    return df

In [438]:
df_samochody = create_car_table(max(car_ids))

In [439]:
df_samochody

,id,marka,model,liczba_kół,rok_produkcji,typ_nadwozia,czy_powypadkowy,kolor,typ_paliwa,pojemność_silnika,moc,skrzynia_biegów,liczba_drzwi,liczba_miejsc,czy_dostępny
0,1,BMW,118,4,2007,Kombi,False,brązowy,Diesel,2.3,143,Manualna,5,7,False
1,2,Skoda,Citigo,4,2006,Coupe,False,biały,Benzyna,1.0,75,Manualna,3,5,False
2,3,smart,forTwo,4,2009,SUV,False,czerwony,Elektryczny,1.5,90,Manualna,5,5,False
3,4,Volkswagen,T-Roc,4,2013,Kombi,False,brązowy,Benzyna,2.3,150,Automatyczna,5,5,False
4,5,BMW,430,4,2008,Kombi,False,czerwony,Diesel,3.9,252,Automatyczna,5,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,969,Renault,Espace,4,2007,SUV,False,czarny,Diesel,2.6,160,Automatyczna,5,5,True
969,970,Hero,Honda Splendor Plus,2,2014,,False,czarny,Benzyna,0.4,55,Manualna,0,1,True
970,971,Ford,Mondeo,4,2009,SUV,False,niebieski,Benzyna,2.6,160,Manualna,5,5,False
971,972,Ford,Mondeo,4,2012,Hatchback,False,szary,Diesel,1.8,120,Manualna,5,5,True
972,973,KTM,250 Duke,2,2009,,False,srebrny,Benzyna,0.7,95,Manualna,0,1,True

In [440]:
df_samochody.to_csv("outputs/samochody.csv", index=False)

# Usługi

In [441]:
service_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'mechanik']['id'], len(car_ids_service))
service_ids = np.arange(len(transaction_dates_service)) + 1

df_services = pd.DataFrame()
df_services['id'] = service_ids
df_services['id_samochodu'] = car_ids_service
df_services['id_klienta'] = client_ids_service
df_services['id_pracownika'] = service_employee
df_services['data_zaksiegowania'] = transaction_dates_service

# Zakup samochodów

In [442]:
def car_purchase_price(hp, yr_bought, yr_prod, post_acc):
    return np.round(hp * 1000 / np.sqrt(int(yr_bought) - int(yr_prod)) * (0.75 if post_acc else 1) * rng.uniform(0.8, 1.2), -2)

In [443]:
buy_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_buy))
buy_ids = np.arange(len(transaction_dates_buy)) + 1

df_buy = pd.DataFrame()
df_buy['id'] = buy_ids
df_buy['id_samochodu'] = car_ids_buy
df_buy['id_klienta'] = client_ids_buy
df_buy['id_pracownika'] = buy_employee
df_buy['data_zaksiegowania'] = transaction_dates_buy

In [444]:

service_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_services[['id_samochodu', 'data_zaksiegowania']], how='right', left_on='id', right_on='id_samochodu')
service_date_fix['data_zaksiegowania'] = service_date_fix['data_zaksiegowania'].str[:4]

buy_date_fix = pd.merge(df_samochody[['id', 'rok_produkcji']], df_buy[['id_samochodu', 'data_zaksiegowania']], how='right', left_on='id', right_on='id_samochodu')
buy_date_fix['data_zaksiegowania'] = buy_date_fix['data_zaksiegowania'].str[:4]

for i in range(len(buy_date_fix)):
    if str(buy_date_fix['rok_produkcji'].loc()[i]) >= str(buy_date_fix['data_zaksiegowania'].loc()[i]):
        car_index = buy_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

for i in range(len(service_date_fix)):
    if str(service_date_fix['rok_produkcji'].loc()[i]) >= str(service_date_fix['data_zaksiegowania'].loc()[i]):
        car_index = service_date_fix.loc[i, 'id_samochodu']
        df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

C:\Users\olkar\AppData\Local\Temp\ipykernel_17124\1855781291.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2004' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_samochody.loc[car_index-1, 'rok_produkcji'] = str(int(df_samochody.loc[car_index-1, 'rok_produkcji']) - 10)

In [445]:
purchase_prices = []
for j, i in enumerate(car_ids_buy):
    row = df_samochody.loc()[i-1]
    year_bought = transaction_dates_buy[j][:4]
    purchase_prices.append(car_purchase_price(row['moc'], year_bought, row['rok_produkcji'], row['czy_powypadkowy']))

df_buy['cena'] = purchase_prices

In [446]:
df_buy

      id  id_samochodu  id_klienta  id_pracownika data_zaksiegowania      cena
0      1             1           1              3         2014-01-03   45900.0
1      2             2           2              2         2014-01-03   22400.0
2      3             3           3              3         2014-01-04   36400.0
3      4             4           4              3         2014-01-04  146700.0
4      5             5           5              2         2014-01-05   95700.0
..   ...           ...         ...            ...                ...       ...
943  944           969        1517              2         2020-12-17   44700.0
944  945           970        1280              2         2020-12-18   23800.0
945  946           972         456              2         2020-12-30   36900.0
946  947           973        1519              2         2020-12-31   29300.0
947  948            99         187              3         2020-12-31   46200.0

[948 rows x 6 columns]

In [447]:
df_buy.to_csv("outputs/zakup_samochodu.csv", index=False)

# Sprzedaż samochodów

In [448]:
sell_employee = rng.choice(employees_df[employees_df['stanowisko'] == 'sprzedawca']['id'], len(car_ids_sell))
sell_ids = np.arange(len(transaction_dates_sell)) + 1

df_sell = pd.DataFrame()
df_sell['id'] = sell_ids
df_sell['id_samochodu'] = car_ids_sell
df_sell['id_klienta'] = client_ids_sell
df_sell['id_pracownika'] = sell_employee
df_sell['data_zaksiegowania'] = transaction_dates_sell

In [449]:
df_sell

      id  id_samochodu  id_klienta  id_pracownika data_zaksiegowania
0      1             7          21              2         2014-01-25
1      2            20          22              2         2014-01-25
2      3            17          23              3         2014-01-26
3      4             3          24              3         2014-01-28
4      5            14          25              2         2014-01-29
..   ...           ...         ...            ...                ...
936  937           964        1514              2         2020-12-15
937  938            46        1516              2         2020-12-15
938  939           962        1335              2         2020-12-16
939  940           961         787              2         2020-12-19
940  941           966        1518              2         2020-12-24

[941 rows x 5 columns]

In [450]:
sell_prices = []
for i in car_ids_sell:
    b_price = df_buy[df_buy['id_samochodu'] == i]['cena'].values[0]
    print(b_price)
    sell_prices.append(np.round(b_price * rng.uniform(1.2, 1.5), -2))

df_sell['cena'] = sell_prices

57000.0
86300.0
32500.0
36400.0
14800.0
146700.0
27600.0
70500.0
20200.0
95700.0
61600.0
22400.0
123600.0
45700.0
45900.0
36500.0
29200.0
34800.0
19100.0
83800.0
109100.0
35800.0
30400.0
27700.0
44500.0
19800.0
66200.0
125300.0
59700.0
44600.0
134000.0
32100.0
36900.0
52700.0
22400.0
23500.0
283700.0
23000.0
25900.0
20400.0
50500.0
52500.0
57300.0
57500.0
114400.0
69000.0
49300.0
61900.0
17900.0
16800.0
20400.0
82000.0
33700.0
19100.0
26000.0
20400.0
43500.0
129300.0
59900.0
16000.0
68300.0
15100.0
56800.0
30100.0
55300.0
30800.0
120300.0
41800.0
48300.0
46400.0
21300.0
45600.0
60600.0
88300.0
25900.0
43400.0
20100.0
28800.0
52200.0
59800.0
37800.0
26600.0
31100.0
51600.0
17200.0
28800.0
18100.0
51400.0
53600.0
55400.0
76600.0
18900.0
34900.0
70700.0
27700.0
27000.0
17200.0
53800.0
61400.0
42600.0
52800.0
23200.0
29500.0
35800.0
44100.0
66800.0
18500.0
150600.0
17400.0
22100.0
33600.0
26300.0
69500.0
32700.0
37200.0
65400.0
49700.0
36600.0
42100.0
30200.0
48300.0
29000.0
28700.0
99800.0
72300.0
27100.0
37400.0
24800.0
77300.0
72700.0
60500.0
26300.0
44900.0
48300.0
22800.0
27900.0
107400.0
124600.0
32100.0
32400.0
82700.0
28900.0
22200.0
22400.0
70600.0
126400.0
51400.0
28700.0
36100.0
83900.0
40100.0
36700.0
19400.0
15600.0
18600.0
16600.0
25900.0
53900.0
24800.0
45700.0
8900.0
64900.0
24200.0
66000.0
37300.0
29000.0
45000.0
46200.0
30400.0
57900.0
38700.0
52600.0
37800.0
91300.0
25700.0
15400.0
23500.0
40300.0
96400.0
173100.0
28500.0
29200.0
22400.0
115900.0
83300.0
19900.0
46000.0
38500.0
28600.0
91000.0
28200.0
17500.0
73700.0
49600.0
5500.0
44700.0
58300.0
26200.0
19300.0
16500.0
41700.0
69700.0
27000.0
58900.0
41400.0
43100.0
23500.0
13500.0
20400.0
31100.0
39500.0
29300.0
77500.0
20200.0
111900.0
35200.0
62500.0
51900.0
39100.0
53600.0
98500.0
30800.0
27200.0
29300.0
69500.0
26000.0
46200.0
41300.0
66000.0
6600.0
28700.0
20400.0
72200.0
32800.0
17600.0
121300.0
24700.0
175400.0
34700.0
44900.0
69500.0
47000.0
29800.0
39600.0
22700.0
115400.0
56800.0
59200.0
80400.0
21400.0
63700.0
27600.0
54000.0
48900.0
61300.0
30800.0
36400.0
74900.0
86200.0
16700.0
30500.0
20000.0
27400.0
18100.0
38500.0
13800.0
48300.0
21900.0
184900.0
55800.0
23300.0
35300.0
63400.0
36900.0
86800.0
46000.0
50300.0
22100.0
66800.0
17400.0
21200.0
33500.0
26000.0
24800.0
78800.0
39100.0
32500.0
26900.0
15700.0
35100.0
41400.0
26400.0
45000.0
44300.0
57300.0
41100.0
52900.0
12100.0
88300.0
78200.0
122300.0
21300.0
134000.0
48300.0
40200.0
62600.0
43300.0
12700.0
25100.0
54000.0
41800.0
46000.0
30300.0
38100.0
52100.0
53600.0
39100.0
46900.0
86100.0
28100.0
16000.0
28200.0
13100.0
25600.0
35500.0
198800.0
53200.0
44700.0
155200.0
69100.0
58300.0
19200.0
21600.0
54000.0
43500.0
175400.0
20100.0
73300.0
30200.0
23600.0
19400.0
70500.0
37500.0
34600.0
15300.0
15200.0
31900.0
57300.0
109900.0
41000.0
28800.0
34300.0
48100.0
80800.0
30000.0
14500.0
238500.0
89100.0
23100.0
33500.0
74700.0
34200.0
42700.0
31600.0
27000.0
39100.0
56500.0
18300.0
32400.0
60800.0
40500.0
29300.0
36000.0
49300.0
51000.0
12400.0
78300.0
42800.0
17400.0
50500.0
48000.0
211000.0
41700.0
36600.0
27100.0
56100.0
20200.0
58700.0
34800.0
65100.0
57800.0
50300.0
20600.0
21800.0
120000.0
39000.0
89800.0
34200.0
25000.0
55100.0
39100.0
10900.0
42400.0
42600.0
67300.0
46400.0
29700.0
43500.0
13100.0
35900.0
45900.0
21000.0
52600.0
31900.0
59200.0
213200.0
29800.0
29300.0
24600.0
55700.0
34600.0
39000.0
32300.0
45400.0
24900.0
86400.0
7800.0
25700.0
28400.0
25100.0
29200.0
34000.0
40000.0
49700.0
26900.0
24900.0
39100.0
25400.0
23500.0
50600.0
44400.0
20400.0
19600.0
18300.0
20800.0
21200.0
28200.0
51800.0
17800.0
45500.0
31800.0
37400.0
41600.0
40800.0
32600.0
62400.0
23500.0
26800.0
14900.0
90400.0
48600.0
37100.0
45900.0
26300.0
33800.0
38700.0
20400.0
24600.0
58200.0
16100.0
101700.0
70800.0
41800.0
14000.0
35500.0
17500.0
50200.0
89100.0
48100.0
35300.0
94100.0
61200.0
156600.0
30100.0
16800.0
17700.0
35500.0
37500.0
81700.0
61800.0
29600.0
44600.0
75600.0
46500.0
22000.0
34200.0
47100.0
12400.0
16000.0
23400.0
11100.0
65600.0
51800.0
16300.0
50500.0
26300.0
57500.0
31200.0
30300.0
16400.0
30300.0
95500.0
60000.0
31100.0
25800.0
28300.0
42300.0
42500.0
50100.0
21600.0
4600.0
27600.0
40400.0
21100.0
54200.0
25600.0
25900.0
25500.0
18200.0
18100.0
98100.0
28200.0
77300.0
26400.0
40900.0
46400.0
38200.0
32600.0
28900.0
42300.0
28200.0
24300.0
50300.0
24700.0
26800.0
25100.0
17300.0
62200.0
39100.0
29000.0
32900.0
20900.0
25300.0
57300.0
50500.0
35200.0
45900.0
20700.0
76800.0
11800.0
19800.0
65600.0
34100.0
20400.0
27200.0
43400.0
49700.0
19200.0
31600.0
64100.0
20700.0
48600.0
20200.0
17600.0
47600.0
35000.0
112100.0
17700.0
43400.0
38500.0
86100.0
25300.0
38800.0
21400.0
59000.0
17100.0
31900.0
53000.0
39400.0
39900.0
23300.0
49900.0
43800.0
36800.0
18100.0
42800.0
55200.0
42800.0
32400.0
26500.0
29300.0
23200.0
20100.0
33300.0
22300.0
68300.0
66500.0
17100.0
22400.0
32200.0
38300.0
32900.0
66100.0
54000.0
36700.0
30800.0
2200.0
33200.0
42900.0
19400.0
56100.0
93800.0
24600.0
8000.0
34600.0
8200.0
36100.0
33400.0
19700.0
23800.0
58700.0
57800.0
18200.0
36700.0
31600.0
53200.0
89700.0
17000.0
27300.0
186000.0
24600.0
53600.0
21800.0
35500.0
38200.0
27900.0
58600.0
23900.0
29200.0
77300.0
27500.0
22700.0
34000.0
32000.0
86100.0
35700.0
26300.0
69900.0
112100.0
53500.0
19700.0
33700.0
54400.0
47200.0
25700.0
19300.0
27300.0
68300.0
45600.0
24500.0
11400.0
31000.0
24600.0
25000.0
43200.0
46600.0
32400.0
23200.0
26500.0
14900.0
21900.0
45600.0
62100.0
57400.0
39100.0
182600.0
21800.0
32800.0
20300.0
68600.0
57900.0
29600.0
27300.0
66200.0
27200.0
14000.0
27300.0
27700.0
38100.0
29700.0
16400.0
72400.0
26700.0
36700.0
23100.0
19300.0
24800.0
62500.0
28700.0
43300.0
27700.0
105600.0
37700.0
27000.0
67800.0
14800.0
20300.0
31000.0
47400.0
43700.0
61600.0
19000.0
7800.0
56900.0
35500.0
14700.0
25300.0
25200.0
29400.0
28900.0
27500.0
26900.0
24700.0
104000.0
52700.0
24700.0
8500.0
21900.0
23200.0
76600.0
10900.0
43600.0
42200.0
54600.0
10000.0
46300.0
45800.0
24500.0
39400.0
57500.0
57800.0
116500.0
40400.0
25300.0
52700.0
26800.0
62400.0
18800.0
13200.0
67500.0
44600.0
45800.0
26500.0
13700.0
17600.0
17500.0
43200.0
35000.0
25300.0
25700.0
47800.0
40200.0
33800.0
20500.0
51400.0
22700.0
43200.0
25400.0
153500.0
29200.0
73700.0
19600.0
52600.0
34500.0
25800.0
15900.0
17700.0
29000.0
56400.0
51900.0
47600.0
41800.0
42300.0
53000.0
17700.0
26800.0
69900.0
21800.0
30700.0
27100.0
92900.0
25100.0
32500.0
35800.0
43400.0
38000.0
32000.0
32800.0
29600.0
17400.0
94600.0
35500.0
28100.0
21100.0
7500.0
16300.0
23700.0
13100.0
15700.0
34800.0
25200.0
34300.0
24700.0
37400.0
55400.0
110800.0
17200.0
21300.0
36100.0
43200.0
23000.0
19600.0
26100.0
22300.0
69700.0
50400.0
31000.0
21100.0
39200.0
17800.0
25700.0
11800.0
60300.0
29900.0
41900.0
17500.0
37700.0
28300.0
26300.0
29400.0
39500.0
29500.0
28300.0
27600.0
67200.0
27300.0
40500.0
27700.0
21700.0
17100.0
39400.0
16800.0
57100.0
38100.0
17000.0
15200.0
24400.0
32400.0
22000.0
63700.0
32400.0
15400.0
54900.0
77300.0
22400.0
35500.0
52500.0
25800.0
29400.0
29600.0
40100.0
37800.0
10900.0
79700.0
26900.0
27900.0
22400.0
33300.0
33900.0
40400.0
27100.0
79800.0
22800.0
20200.0
23200.0
26800.0
38000.0
19900.0
41900.0
15800.0
22800.0
50800.0
31100.0
34200.0
21000.0
15200.0
18000.0
105000.0
24200.0
16200.0
32500.0
38200.0
32400.0
51600.0
10800.0
36100.0
25700.0
24700.0
64500.0
32600.0
64300.0
29500.0
19500.0
27000.0
45400.0
42600.0
55700.0
47100.0
39000.0
17600.0
35500.0
48000.0
37200.0
45900.0
22900.0
14300.0
18700.0
52500.0
9300.0
19300.0
52800.0

In [451]:
df_sell

      id  id_samochodu  id_klienta  id_pracownika data_zaksiegowania      cena
0      1             7          21              2         2014-01-25   82700.0
1      2            20          22              2         2014-01-25  110700.0
2      3            17          23              3         2014-01-26   45600.0
3      4             3          24              3         2014-01-28   50200.0
4      5            14          25              2         2014-01-29   22200.0
..   ...           ...         ...            ...                ...       ...
936  937           964        1514              2         2020-12-15   27600.0
937  938            46        1516              2         2020-12-15   66500.0
938  939           962        1335              2         2020-12-16   11300.0
939  940           961         787              2         2020-12-19   24100.0
940  941           966        1518              2         2020-12-24   68000.0

[941 rows x 6 columns]

In [452]:
np.sum(df_sell["cena"] == float('inf')) # wychodzą inf wiec trzeba poprawić

0

In [453]:
df_sell.to_csv("outputs/sprzedaż_samochodu.csv", index=False)

# Użyte części

In [454]:
data_parts = get_data_parts()
data_parts_filtered = data_parts[data_parts['motor'] == True]

def get_parts_indexes(car_id):
    if df_samochody.loc[car_id-1].values[3] == 2:
        parts_set = data_parts_filtered[['id','część']]
    else:
        parts_set = data_parts[['id','część']]
    
    parts_indexes = parts_set['id']
    num_parts = rng.choice([1, 2, 3], p=[0.6, 0.3, 0.1])
    indexes = rng.choice(parts_indexes, size=num_parts)
    return indexes

all_car_parts_indexes = [(i, get_parts_indexes(i)) for i in car_ids_service]
print(all_car_parts_indexes)

[(23, array([44], dtype=int64)), (27, array([15], dtype=int64)), (38, array([48], dtype=int64)), (43, array([0], dtype=int64)), (58, array([46,  4], dtype=int64)), (68, array([52, 39], dtype=int64)), (70, array([49,  6, 43], dtype=int64)), (79, array([ 8,  2, 16], dtype=int64)), (93, array([55, 53], dtype=int64)), (94, array([13], dtype=int64)), (106, array([47], dtype=int64)), (109, array([17], dtype=int64)), (128, array([16,  2], dtype=int64)), (142, array([31], dtype=int64)), (147, array([1], dtype=int64)), (149, array([0], dtype=int64)), (151, array([18, 41], dtype=int64)), (174, array([12, 34], dtype=int64)), (177, array([24], dtype=int64)), (200, array([21, 24], dtype=int64)), (203, array([37], dtype=int64)), (210, array([29], dtype=int64)), (218, array([62, 34], dtype=int64)), (224, array([35], dtype=int64)), (226, array([49, 15], dtype=int64)), (236, array([1, 7], dtype=int64)), (245, array([17, 13], dtype=int64)), (247, array([42], dtype=int64)), (254, array([27, 27], dtype=int64)), (261, array([58, 61], dtype=int64)), (277, array([37, 57], dtype=int64)), (281, array([11], dtype=int64)), (284, array([34], dtype=int64)), (121, array([3], dtype=int64)), (304, array([ 1, 24, 43], dtype=int64)), (311, array([23, 56], dtype=int64)), (312, array([2], dtype=int64)), (315, array([5], dtype=int64)), (328, array([43, 42, 16], dtype=int64)), (309, array([28], dtype=int64)), (389, array([1], dtype=int64)), (403, array([16], dtype=int64)), (404, array([60], dtype=int64)), (409, array([41, 15], dtype=int64)), (414, array([62], dtype=int64)), (418, array([18, 43], dtype=int64)), (426, array([20], dtype=int64)), (444, array([57, 61], dtype=int64)), (447, array([9], dtype=int64)), (451, array([20], dtype=int64)), (455, array([15, 56], dtype=int64)), (463, array([40, 55], dtype=int64)), (477, array([4], dtype=int64)), (482, array([55], dtype=int64)), (498, array([61], dtype=int64)), (506, array([42], dtype=int64)), (512, array([48, 21], dtype=int64)), (516, array([61], dtype=int64)), (517, array([36], dtype=int64)), (533, array([22], dtype=int64)), (542, array([2], dtype=int64)), (546, array([24], dtype=int64)), (558, array([5], dtype=int64)), (570, array([39, 27], dtype=int64)), (575, array([39], dtype=int64)), (503, array([58], dtype=int64)), (585, array([61, 46], dtype=int64)), (598, array([60], dtype=int64)), (615, array([58], dtype=int64)), (620, array([ 2, 21, 46], dtype=int64)), (626, array([56, 51], dtype=int64)), (641, array([35], dtype=int64)), (644, array([29, 21], dtype=int64)), (648, array([50, 32], dtype=int64)), (650, array([53], dtype=int64)), (651, array([1, 1], dtype=int64)), (654, array([52,  0], dtype=int64)), (662, array([51, 26], dtype=int64)), (667, array([47], dtype=int64)), (672, array([31], dtype=int64)), (676, array([37], dtype=int64)), (681, array([32], dtype=int64)), (686, array([14], dtype=int64)), (706, array([6], dtype=int64)), (711, array([41, 53], dtype=int64)), (713, array([21], dtype=int64)), (464, array([12,  1, 55], dtype=int64)), (749, array([40], dtype=int64)), (759, array([8], dtype=int64)), (764, array([6], dtype=int64)), (781, array([60], dtype=int64)), (784, array([ 4, 29], dtype=int64)), (286, array([ 3, 17], dtype=int64)), (812, array([40], dtype=int64)), (826, array([61], dtype=int64)), (544, array([21], dtype=int64)), (575, array([58, 15], dtype=int64)), (859, array([50], dtype=int64)), (544, array([25], dtype=int64)), (884, array([40], dtype=int64)), (889, array([46], dtype=int64)), (910, array([19], dtype=int64)), (921, array([47, 51], dtype=int64)), (928, array([36, 26], dtype=int64)), (947, array([40, 12], dtype=int64)), (951, array([14, 19], dtype=int64)), (952, array([19], dtype=int64)), (955, array([59, 27], dtype=int64)), (956, array([41], dtype=int64)), (968, array([40, 59, 13], dtype=int64)), (971, array([25, 19], dtype=int64))]

In [455]:
#df_samochody.loc()[1] - samochód o indeksie 0

def create_part(id, service_id, car):
    part = data_parts.loc()[id]
    if type(part['atrybuty']) != float:
        attributes = part['atrybuty'].split()
        for i in range(len(attributes)):
            if attributes[i] == 'marka':
                attributes[i] = car['marka']
            if attributes[i] == 'model':
                attributes[i] = car['model']
            if attributes[i] == 'kolor':
                attributes[i] = car['kolor']
            if attributes[i] == 'rozmiar':
                attributes[i] = 'R' + str(rng.choice([15, 16, 17]))
            if attributes[i] == 'material':
                attributes[i] = rng.choice(['skóra', 'materiał'], p=[0.2, 0.8])
            if attributes[i] == 'pojemnosc':
                attributes[i] = str(car['pojemność_silnika'])
            if attributes[i] == 'skrzynia':
                attributes[i] = str(car['skrzynia_biegów'])
        price = int(np.floor(part['cena']*car['pojemność_silnika']/1.8 * rng.uniform(0.8, 1.2)))
    else:
        attributes = ''
        price = part['cena']
    quantity = part['maxcount']
    return part['część'], ' '.join(attributes), price, service_id, quantity

parts = []
for service_id, element in enumerate(all_car_parts_indexes):
    car_id, parts_id = element
    car = df_samochody.loc()[car_id-1]
    for part_id in parts_id:
        parts.append(create_part(part_id, service_id+1, car))

parts = np.array(parts)
parts_df = pd.DataFrame(parts, columns=['nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']).drop_duplicates(['nazwa', 'atrybuty'])
parts_df['id'] = np.arange(1, len(parts_df)+1)
parts_df = parts_df[['id', 'nazwa', 'atrybuty', 'cena', 'id_usługi', 'ilość']]

parts = pd.DataFrame(parts, columns=['nazwa', 'atrybut', 'cena', 'id_usługi', 'ilość'])

In [456]:
parts

                  nazwa             atrybut  cena id_usługi ilość
0    Kolektor wydechowy                       500         1     1
1                 Radio      Renault Scenic   101         2     1
2       Ogniwo paliwowe         Ford Fiesta   213         3     1
3                 Maska  Opel Meriva czarny   391         4     1
4                Tłumik                       200         5     1
..                  ...                 ...   ...       ...   ...
159             Rozrząd                      2500       110     1
160     Skrzynia biegów   SEAT Mii Manualna  1196       110     1
161              Lakier            czerwony   131       110     1
162       Światła tylne         Ford Mondeo    84       111     1
163         Dystrybutor         Ford Mondeo   445       111     1

[164 rows x 5 columns]

# Wyposażenie

In [457]:
eq_len = len(parts_df)
equipment_id = parts_df['id']
equipment_name = parts_df['nazwa']
equipment_attr = parts_df['atrybuty']
equipment_price = parts_df['cena']

df_equipment = pd.DataFrame()
df_equipment['id'] = equipment_id
df_equipment['nazwa'] = equipment_name
df_equipment['atrybut'] = equipment_attr
df_equipment['cena_części'] = equipment_price.astype(float)

In [458]:
df_equipment

      id               nazwa             atrybut  cena_części
0      1  Kolektor wydechowy                            500.0
1      2               Radio      Renault Scenic        101.0
2      3     Ogniwo paliwowe         Ford Fiesta        213.0
3      4               Maska  Opel Meriva czarny        391.0
4      5              Tłumik                            200.0
..   ...                 ...                 ...          ...
158  138         Wał korbowy            SEAT Mii        526.0
160  139     Skrzynia biegów   SEAT Mii Manualna       1196.0
161  140              Lakier            czerwony        131.0
162  141       Światła tylne         Ford Mondeo         84.0
163  142         Dystrybutor         Ford Mondeo        445.0

[142 rows x 4 columns]

In [459]:
df_equipment.to_csv("outputs/wyposażenie.csv", index=False)

# Usługi - uzupełnienie

In [460]:
service_prices = np.zeros(len(service_ids))
for i in range(len(parts)):
    row = parts.loc()[i]
    service_index = int(row['id_usługi'])
    service_prices[service_index-1] += float(row['cena']) * int(row['ilość'])

df_services['cena'] = np.round(service_prices*rng.uniform(1.1, 1.4), -1).astype(int)

In [461]:
df_services

      id  id_samochodu  id_klienta  id_pracownika data_zaksiegowania  cena
0      1            23          45              4         2014-03-01   570
1      2            27          52              4         2014-03-15   110
2      3            38          71              6         2014-03-30   240
3      4            43          81              7         2014-04-11   440
4      5            58         109              8         2014-05-16   880
..   ...           ...         ...            ...                ...   ...
106  107           952        1489              9         2020-11-14   510
107  108           955        1499              4         2020-11-20  2230
108  109           956         653              4         2020-11-21   600
109  110           968        1515              7         2020-12-15  4330
110  111           971         139              8         2020-12-22   600

[111 rows x 6 columns]

In [462]:
df_services.to_csv("outputs/usługi.csv", index=False)

# Użyte części - uzupełnienie

In [463]:
used_parts_df = parts.merge(df_equipment, on=['nazwa', 'atrybut'])
used_parts_df.rename(columns={'id': 'id_części'}, inplace=True)
used_parts_df['ilość'] = pd.to_numeric(used_parts_df['ilość'])
ids = np.arange(len(used_parts_df))+1
used_parts_df['id'] = ids
used_parts_df = used_parts_df[['id', 'id_usługi', 'id_części', 'ilość']]

In [464]:
used_parts_df

      id id_usługi  id_części  ilość
0      1         1          1      1
1      2         2          2      1
2      3         3          3      1
3      4         4          4      1
4      5         5          5      1
..   ...       ...        ...    ...
159  160       110         77      1
160  161       110        139      1
161  162       110        140      1
162  163       111        141      1
163  164       111        142      1

[164 rows x 4 columns]

In [465]:
used_parts_df.to_csv("outputs/użyte_części.csv", index=False)

# Zakup części

In [466]:
def get_service_date(part_id):
    
    index_used_part = used_parts_df[used_parts_df['id_części'] == part_id].index[0]
    service_date = df_services[df_services['id'] == index_used_part]['data_zaksiegowania']
    return service_date
    

buy_parts_quantity = used_parts_df.groupby(['id_części'])['ilość'].sum().reset_index()
parts_purchase_pd = pd.DataFrame(columns=['id', 'id_części', 'koszt', 'data_zakupu', 'ilość', 'data_zaksięgowania'])

for i in range(len(buy_parts_quantity)):
    part_id = buy_parts_quantity['id_części'][i]
    quantity = buy_parts_quantity['ilość'][i]
    price = df_equipment['cena_części'][df_equipment['id'] == part_id].to_numpy()
    if price > 1000:
        quantity += rng.random() < 0.5
    elif price > 500:
        quantity += rng.choice([0, 1, 2], p=[0.2, 0.5, 0.3])
    else:
        quantity += rng.binomial(25, 0.15)
    total_cost = np.floor(quantity * price * rng.uniform(0.75, 0.95))
    service_date = get_service_date(part_id)

    ##### DO DODANIA
    # generowanie daty zakupu części na podstawie purchase_date
    # generowanie daty zaksięgowania transakcji na podstawie purchase_date
    #####
    
    # row = [i+1, part_id, total_cost, purchase_date, quantity, posting_date]
    # parts_purchase_pd.loc[i] = row

In [467]:
# parts_purchase_pd